.UICalendarPortlet .UIMiniCalendar {
  color: #464646;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

.UICalendarPortlet .UIMiniCalendar .MiniCalendarContainer {
  background: #fff;
}

.UICalendarPortlet .UIMiniCalendar .MonthSelector {
  height: 26px; 
  width: 179px;
  background: #f1f1f1;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid  #c7c7c7;
}

.UICalendarPortlet .UIMiniCalendar .MonthSelector table {
  width: auto;
  margin: auto;
}

.UICalendarPortlet .UIMiniCalendar .YearSelector .NextYearSelector {
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat left -2040px; /* orientation=lt */
  background: url('../skinIcons/icons/CalendarIcons-rt.gif') no-repeat right -2040px; /* orientation=rt */
  height: 28px; 
  width: 23px;
}

.UICalendarPortlet .UIMiniCalendar .YearSelector .PreviousYearSelector {
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat left -2007px; /* orientation=lt */
  background: url('../skinIcons/icons/CalendarIcons-rt.gif') no-repeat right -2007px; /* orientation=rt */
  height: 28px; 
  width: 23px;
}

.UICalendarPortlet .UIMiniCalendar .MonthSelector .NextMonthSelector {
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat right -1748px; /* orientation=lt */
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat left -1748px; /* orientation=rt */
  height: 16px; 
  width: 10px;
  margin: 6px 0px 0px 4px; /* orientation=lt */
  margin: 6px 4px 0px 0px; /* orientation=rt */
}

.UICalendarPortlet .UIMiniCalendar .MonthSelector .PreviousMonthSelector {
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat left -1748px; /* orientation=lt */
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat right -1748px; /* orientation=rt */
  height: 16px; 
  width: 10px;
  margin: 6px 4px 0px 0px; /* orientation=lt */
  margin: 6px 0px 0px 4px; /* orientation=rt */
}

.UICalendarPortlet .UIMiniCalendar .MonthSelector .Title {
  font-weight:bolder;
  text-align: center;
  margin: 0px 10px;
}

.UICalendarPortlet .UIMiniCalendar .MonthSelector .Title a{
	color: #464646;
}

.UICalendarPortlet .UIMiniCalendar .TimeSelector {
  padding: 7px 40px 2px 40px;
}

.UICalendarPortlet .UIMiniCalendar .TimeSelector .LeftTimeSelector {
  background: url('../background/CalendarBackground.gif') no-repeat left -185px;
  padding-Left: 7px;
}

.UICalendarPortlet .UIMiniCalendar .TimeSelector .RightTimeSelector {
  background: url('../background/CalendarBackground.gif') no-repeat left -207px;
  padding-right: 7px;
}

.UICalendarPortlet .UIMiniCalendar .TimeSelector .CenterTimeSelector {
  background: url('../background/CalendarBackground.gif') repeat-x center -229px;
  text-align: center; 
  line-height: 20px;
  font-weight: bolder;
  height: 21px;
}

.UICalendarPortlet .UIMiniCalendar .DayList {
  background: #fff;
  padding: 3px;

}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid {
  border:none;
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid td{
  background:#fff ;
  border:solid 1px #ffffff ;
  text-align:center;
  vertical-align:middle;
  padding:0px;
  -moz-user-select : none ;
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid tr{
  border:solid 1px #c7c7c7;
  padding:0px;
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .Highlight a{
  font-weight:bold;
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .Highlight {
  font-weight:bold;
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .Today {
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .CurrentWeek {
  background: #ececec; 
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .OtherMonth {
  color: #b7b7b7;
}
.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .SelectedDay {
  background: #FFF6A3;
}

.UICalendarPortlet .UIMiniCalendar .DayList .UIGrid .Today .MiniCalendarActions {
  border: solid 1px #c7c7c7;
  font-weight: bold;
}

.UICalendarPortlet .UIMiniCalendar .WeekList .SundayTitle {
  float: left;
  font-weight: bold;
  line-height: 20px;
  width: 14%;
  text-align: center;
}

.UICalendarPortlet .UIMiniCalendar .WeekList {
  height: 20px;
}

.UICalendarPortlet .UIMiniCalendar .MonthList{
	border: solid 1px #c7c7c7;
	border-top: none;
}

.UICalendarPortlet .UIMiniCalendar .WeekList .DayTitle {
  float: left;
  font-weight: bold;
  line-height: 20px;
  width: 14%;
  text-align: center;
}
