.UICalendarPortlet .UISearchForm {
  line-height: 34px;
  padding:0px 13px 0px 0px; /* orientation=lt */
  padding:0px 0px 0px 13px; /* orientation=rt */
  width: 210px;
  float: right;
  height: 30px;
}

.UICalendarPortlet .UISearchForm .UISearchLabel {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  line-height: 20px;
  margin: 5px 0px;
  color: #555; 
}

.UICalendarPortlet .UISearchForm .Input {
	background: url('../background/SearchBG.gif') repeat-x left top;
    border: 1px solid #c3c3c3;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    margin: 4px 0px 0px 10px;
    padding: 0px 5px;
	height: 22px;
	width: 165px;
}

.UICalendarPortlet .UISearchForm input {
	width: 140px;
	background: transparent;
    border: none;
    padding: 0;
	vertical-align: top;
	height: 22px;
}

.UICalendarPortlet .UICalendarContainer .SearchIcon {
  height: 20px;
  width: 20px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 8px 5px 0px 0px; /* orientation=lt */
  margin: 8px 0px 0px 5px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .UISearchForm .AdvancedSearch {
  height: 20px; 
  width: 20px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 8px 0px 0px 2px; /* orientation=lt */
  margin: 8px 2px 0px 0px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .UISearchForm .Clear{
  clear: right; /* orientation=lt */
  clear: left; /* orientation=rt */
}

