
.UICalendarPortlet .UpArrow1Icon {
  background: url('icons/BlueUpArrow.gif') no-repeat right; /* orientation=lt */
  background: url('icons/BlueUpArrow.gif') no-repeat left; /* orientation=rt */
}

.UICalendarPortlet .BlueCircleMinus {
  background: url('icons/BlueCircleMinus.gif') repeat scroll 0 0;
}

.UICalendarPortlet .CloseAttachmentIcon {
  background: url('icons/CloseMore.gif') no-repeat left center; /* orientation=lt */
  background: url('icons/CloseMore.gif') no-repeat right center; /* orientation=rt */
  cursor: pointer; 
  padding-left:16px; /* orientation=lt */
  padding-right:16px; /* orientation=rt */
}

.UICalendarPortlet .AddCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left top; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right top; /* orientation=rt */
}

.UICalendarPortlet .AddCategoryIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -21px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -21px; /* orientation=rt */
}

.UICalendarPortlet .AddCategory {
  background: url('icons/CalendarIcons.gif') no-repeat left -23px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -23px; /* orientation=rt */
}

.UICalendarPortlet .AddGroupIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -48px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -48px; /* orientation=rt */
}

.UICalendarPortlet .AddNewEvent {
  background: url('icons/CalendarIcons.gif') no-repeat left -73px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -73px; /* orientation=rt */
}

.UICalendarPortlet .UIRightPopupMenuContainer .QuickAddEvent {
  background: url('icons/CalendarIcons.gif') no-repeat left -75px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -75px; /* orientation=rt */
}

.UICalendarPortlet .QuickAddEvent {
  background: url('icons/CalendarIcons.gif') no-repeat left -75px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -75px; /* orientation=rt */
}

.UICalendarPortlet .AddpuplicCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -100px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -100px; /* orientation=rt */
}

.UICalendarPortlet .AddNewTask {
  background: url('icons/CalendarIcons.gif') no-repeat left -125px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -125px; /* orientation=rt */
}


.UICalendarPortlet .AttachmentIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -156px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -156px; /* orientation=rt */
}

.UICalendarPortlet .CalDavIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -230px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -230px; /* orientation=rt */
}

.UICalendarPortlet .BothIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -256px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -256px; /* orientation=rt */
}

.UICalendarPortlet .CopyCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -360px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -360px; /* orientation=rt */
}

.UICalendarPortlet .CutCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -386px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -386px; /* orientation=rt */
}

.UICalendarPortlet .RemoveCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -412px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -412px; /* orientation=rt */
}

.UICalendarPortlet .UIRightPopupMenuContainer .DeleteEventIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -438px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -438px; /* orientation=rt */
}

.UICalendarPortlet .DeleteEventIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -438px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -438px; /* orientation=rt */
}

.UICalendarPortlet .DeleteGroupIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -464px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -464px; /* orientation=rt */
}

.UICalendarPortlet .FindIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -484px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -484px; /* orientation=rt */
}

.UICalendarPortlet .DeleteTaskIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -490px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -490px; /* orientation=rt */
}

.UICalendarPortlet .DownLoadAttachmentIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -523px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -523px; /* orientation=rt */
  height: 16px;
  padding-left:14px; /* orientation=lt */
  padding-right:14px; /* orientation=rt */
}

.UICalendarPortlet .EditCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -542px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -542px; /* orientation=rt */
}

.UICalendarPortlet .UIRightPopupMenuContainer .EditEventIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -568px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -568px; /* orientation=rt */
}

.UICalendarPortlet .EditEventIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -568px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -568px; /* orientation=rt */
}

.UICalendarPortlet .EditGroupIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -594px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -594px; /* orientation=rt */
}

.UICalendarPortlet .EditTaskIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -620px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -620px; /* orientation=rt */
}

.UICalendarPortlet .EditTask {
  background: url('icons/CalendarIcons.gif') no-repeat left -620px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -620px; /* orientation=rt */
  width: 16px;
  height: 16px;
}

.UICalendarPortlet .UIRightPopupMenuContainer .ExportCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -646px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -646px; /* orientation=rt */
}

.UICalendarPortlet .ExportCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -646px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -646px; /* orientation=rt */
}

.UICalendarPortlet .EventIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -672px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -672px; /* orientation=rt */
}

.UICalendarPortlet .IconFeed {
  background: url('icons/CalendarIcons.gif') no-repeat left -702px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -702px; /* orientation=rt */
}

.UICalendarPortlet .AdvancedSearch {
  background: url('icons/CalendarIcons.gif') no-repeat left -729px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -729px; /* orientation=rt */
}

.UICalendarPortlet .GenerateRssIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -750px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -750px; /* orientation=rt */
}

.UICalendarPortlet .GotoDate {
  background: url('icons/CalendarIcons.gif') no-repeat left -776px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -776px; /* orientation=rt */
}

.UICalendarPortlet .highPriorityIcon {
  _position:absolute;
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
  background: url('icons/CalendarIcons.gif') no-repeat left -808px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -808px; /* orientation=rt */
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */
  width: auto;
}

.UICalendarPortlet .UIRightPopupMenuContainer .HidenAllCalendar {
  background: url('icons/CalendarIcons.gif') no-repeat left -828px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -828px; /* orientation=rt */
}

.UICalendarPortlet .LayoutSwitcherIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -853px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -853px; /* orientation=rt */
}

.UICalendarPortlet .UIRightPopupMenuContainer .HidenMinicalendar {
  background: url('icons/CalendarIcons.gif') no-repeat left -880px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -880px; /* orientation=rt */
}

.UICalendarPortlet .ImportCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -904px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -904px; /* orientation=rt */
}

.UICalendarPortlet .lowPriorityIcon{
  _position:absolute;
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
  background: url('icons/CalendarIcons.gif') no-repeat left -938px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -938px; /* orientation=rt */
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */
  width: auto;
}

.UICalendarPortlet .MaximizeButton {
  background: url('icons/CalendarIcons.gif') no-repeat left -962px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -962px; /* orientation=rt */
  width: 23px; 
  height: 16px;
}

.UICalendarPortlet .MinimizeButton {
  background: url('icons/CalendarIcons.gif') no-repeat left -988px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -988px; /* orientation=rt */
  width: 23px;
  height: 16px;
}

.UICalendarPortlet .PrintCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1060px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1060px; /* orientation=rt */
}

.UICalendarPortlet .normalPriorityIcon {
  _position:absolute;
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
  background: url('icons/CalendarIcons.gif') no-repeat left -1016px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1016px; /* orientation=rt */
  padding-left:20px; /* orientation=lt */
  padding-right:20px; /* orientation=rt */
  width:auto;
}

.UICalendarPortlet .PasteGroupIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1041px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1041px; /* orientation=rt */
}

.UICalendarPortlet .CalendarRssIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1087px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1087px; /* orientation=rt */
}

.UICalendarPortlet .UITabContent .ActionContainer .CalendarFeedIcon{
  background-position: left -1090px; /* orientation=lt */
  background-position: right -1090px; /* orientation=rt */
}

.UICalendarPortlet .CalendarFeedIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1087px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1087px; /* orientation=rt */
}

.UICalendarPortlet .SearchIcon {
	background: url('icons/CalendarIcons.gif') no-repeat left -1117px; /* orientation=lt */
	background: url('icons/CalendarIcons.gif') no-repeat right -1117px; /* orientation=rt */
	float: right;
	height: 16px;
	width: 16px;
}

.UICalendarPortlet .UISearchForm .SearchIcon{
	background: url('icons/CalendarIcons.gif') no-repeat right -1117px;
    height: 22px;
    padding-right: 20px;
    width: auto;
}


.UICalendarPortlet .SelectIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1144px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1144px; /* orientation=rt */
}

.UICalendarPortlet .SendMailCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1167px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1167px; /* orientation=rt */
}

.UICalendarPortlet .DayIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1172px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1172px; /* orientation=rt */
}

.UICalendarPortlet .SettingCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1190px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1190px; /* orientation=rt */
}

.UICalendarPortlet .SharedCalendarIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1217px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1217px; /* orientation=rt */
}

.UICalendarPortlet .UIRightPopupMenuContainer .ShowMinicalendar {
  background: url('icons/CalendarIcons.gif') no-repeat left -1244px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1244px; /* orientation=rt */
}

.UICalendarPortlet .AddAnyIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1272px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1272px; /* orientation=rt */
}

.UICalendarPortlet .SelectGroupIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1272px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1272px; /* orientation=rt */
}

.UICalendarPortlet .SelectMemberIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1297px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1297px; /* orientation=rt */
}

.UICalendarPortlet .TaskIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1348px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1348px; /* orientation=rt */
}

.UICalendarPortlet .TodayIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1659px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1659px; /* orientation=rt */
}

.UICalendarPortlet .ViewOnCalendar {
  background: url('icons/CalendarIcons.gif') no-repeat left -1451px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1451px; /* orientation=rt */
}

.UICalendarPortlet .UIRightPopupMenuContainer .ViewEventIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1374px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1374px; /* orientation=rt */
}

.UICalendarPortlet .SelectUserIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1326px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1326px; /* orientation=rt */
}

.UICalendarPortlet .ViewAttachmentIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1405px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1405px; /* orientation=rt */
  cursor:pointer;
  padding-left:16px; /* orientation=lt */
  padding-right:16px; /* orientation=rt */
}

.UICalendarPortlet .ViewMoreIcon {
  background: url('icons/CalendarIcons.gif') no-repeat right -1430px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat left -1430px; /* orientation=rt */
}

.UICalendarPortlet .UIScheduleViewIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1477px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1477px; /* orientation=rt */
}

.UICalendarPortlet .UIWeekViewIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1503px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1503px; /* orientation=rt */
}

.UICalendarPortlet .UIWorkingViewIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1503px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1503px; /* orientation=rt */
}

.UICalendarPortlet .UIMonthViewIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1581px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1581px; /* orientation=rt */
}

.UICalendarPortlet .UIYearViewIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1607px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1607px; /* orientation=rt */
}

.UICalendarPortlet .UIListContainerIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1633px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1633px; /* orientation=rt */
}

.UICalendarPortlet .UIDayViewIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1659px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1659px; /* orientation=rt */
}

.UICalendarPortlet .outsideIcon {
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
  background: url('icons/CalendarIcons.gif') no-repeat left -1891px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1891px; /* orientation=rt */
}

.UICalendarPortlet .AddContactParticipantIcon {
  background: url('icons/AddressBookIcon.gif') no-repeat left; /* orientation=lt */
  background: url('icons/AddressBookIcon.gif') no-repeat right; /* orientation=rt */
  width:16px;
}
/***************************UIRightClickPopupMenu*********************/
/*********************************************************************/

.UICalendarPortlet .UIRightPopupMenuContainer .QuickAddTask {
  background: url('icons/CalendarIcons.gif') no-repeat left -125px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -125px; /* orientation=rt */
}


.UICalendarPortlet .BackIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -182px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -182px; /* orientation=rt */
  width: 16px;
  height: 16px;
}

.UICalendarPortlet .NextIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -208px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -208px; /* orientation=rt */
  width: 16px;height: 16px;
}


.UICalendarPortlet .BothIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -256px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -256px; /* orientation=rt */
}

.UICalendarPortlet .busyIcon {
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
  background: url('icons/busyIcon.png') no-repeat left center; /* orientation=lt */
  background: url('icons/busyIcon.png') no-repeat right center; /* orientation=rt */
}

.UICalendarPortlet .RefreshRemoteIcon {
  background: url('icons/CalendarIcons.gif') no-repeat left -1977px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1977px; /* orientation=rt */
}

/* Scroll chat window */

.UICalendarPortlet .ScrollButtons {
  float: right;
  padding: 4px;
  display: block;
}

.UICalendarPortlet .ScrollLeftButton {
  cursor: pointer;
  background: url('icons/ScollArrow.gif') no-repeat left 0px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.UICalendarPortlet .ScrollRightButton {
  cursor: pointer;
  background: url('icons/ScollArrow.gif') no-repeat left -18px;
  width: 17px;
  height: 17px;
  margin: 0px 5px;
}

.UICalendarPortlet .DisableScrollLeftButton {
  cursor: pointer;
  background: url('icons/ScollArrow.gif') no-repeat left -36px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.UICalendarPortlet .DisableScrollRightButton { 
  cursor: pointer;
  background: url('icons/ScollArrow.gif') no-repeat left -54px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}

.UICalendarPortlet .HighlightScrollLeftButton {
  cursor: pointer;
  background: url('icons/ScollArrow.gif') no-repeat left -72px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.UICalendarPortlet .HighlightScrollRightButton {
  cursor: pointer;
  background: url('icons/ScollArrow.gif') no-repeat left -90px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}  

/***************************END UIRightClickPopupMenu*********************/
/*********************************************************************/

.UICalendarPortlet .ICalIcon {
  background:url("/calendar/skin/DefaultSkin/webui/skinIcons/icons/CalendarIcons.gif") no-repeat scroll left -1916px transparent;
  cursor: pointer;
  width: 23px;
  height: 17px;
}

.UICalendarPortlet .RemoveBtn {
  background: url('/mail/skin/DefaultSkin/webui/skinIcons/16x16/icons/Dustbin.gif') no-repeat left center;
  height: 16px;
  width: 16px;
}

/***************************Edit Feed*********************/

.UICalendarPortlet .UIEditFeed .ResetURLIcon{
  background: url('icons/CalendarIcons.gif') no-repeat left -1944px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1944px; /* orientation=rt */
  height: 16px;
  width: 16px;
}


.UICalendarPortlet .UIEditFeed .GenerateURLIcon{
  background: url('icons/CalendarIcons.gif') no-repeat left -1961px; /* orientation=lt */
  background: url('icons/CalendarIcons.gif') no-repeat right -1961px; /* orientation=rt */
  height: 16px;
  width: 16px;
}

/***************************The end Edit Feed*********************/


.UICalendarPortlet .UICalendars .IconCheckBox{
	background: url('icons/IconCheckbox.png') no-repeat center center;
	display: inline-block;
	float: left;
	width: 14px;
	height: 14px;
	padding: 0px;
	margin: 0px;
	cursor: hand;
}

.UICalendarPortlet .UICalendars .IconUnCheckBox{
	background: none;
	display: inline-block;
	float: left;
	width: 14px;
	height: 14px;
	padding: 0px;
	margin: 0px;
	cursor: hand;
}

.UICalendarPortlet .UICalendars .ColorOpacity{
	width: 14px;
	height: 14px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: rgba(255,255,255,0.4);
	display: block;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#40ffffff, endColorstr=#40ffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#40ffffff, endColorstr=#40ffffff)";
}

