
/*============== uiMonthView ================*/

.uiMonthView{
	
	.dayTitleBar{
		background: @tableBackgroundAccent;
		.uiGrid.table tr td{
			line-height: 32px;
			text-align: center;
			color: @textColor;
		}
	}
	
	.eventMonthContent{
		.dayContent{
   			text-align: right;
   			a{
   				color: #999;
   				padding-right: 10px;
   			}
		}
		
		.disableDay{
		   	color: #909090;
    		text-align: right;
    		padding-top: 10px;
		}
	
		.rowContainerDay{
			.calendarContentDisable{
			    background: none repeat scroll 0 0 #F5F5F5;
   				padding: 0;
			}
			
			.dayBox{
				a{
					color: @textColor;
				}
				text-align: right;
				padding-right: 10px;
				padding-top: 4px;
			}
			
		}
		
		.table tr{
			border-top: 1px solid #E6E6E6;
			td{
				vertical-align: top;
				height: 96px;
			}
		}
		
		.eventOnDayBorder{
			border-top: solid 1px @white;
			height: 16px;
			
			.eventCheckbox{
				height: 16px;
			} 
		}
		
		.eventSummary{
		color: @white;
		line-height: 18px;
		}
		
	}
	
	.eventOnDayContent{
		.uiCheckbox{
			width: 5px;
		}
		.uiCheckbox input[type="checkbox"] + span:before{
			opacity: 0.5;
			top: 3px;
    		width: 9px;
    		height: 10px;
    		.border-radius(2px);
    		background: #ddd;
		}
		
		.uiCheckbox input[type="checkbox"]:checked + span:after{
		    border-bottom: 2px solid #fff;
		    border-left: 2px solid #fff;
		    height: 3px;
		    left: 2px;
		    top: 3px;
		    width: 5px;
		}
	}
	
}
