.UICalendarPortlet .UIInsertAddress {
  width: 616px;
  background: #f3f3f3;
}

.UICalendarPortlet .UIInsertAddress .UISearch {
  padding: 0px;
  height: 37px;
}

.UICalendarPortlet .UIInsertAddress .UISearch .UIBarStyle .NormalBarStyle {
  height: 37px;
}

.UICalendarPortlet .UIInsertAddress .InsertAddressContainer {
  padding: 10px;
  border: 1px solid #c0c0c0;
}

.UICalendarPortlet .UIInsertAddress .AddressContainer {
  padding-top: 10px;
}


.UICalendarPortlet .UIInsertAddress .UIGrid td input {
  text-align: center;
  margin: 2px 0px 0px 0px;
}


/*********************************************UISearch*****************************************/

.UICalendarPortlet .UIInsertAddress .UIAddressSearchForm {
  float: left;
  width: 275px;
}

.UICalendarPortlet .UIInsertAddress .UIAddressSearchForm input{
  float: left;
  margin: 10px 0px 0px 3px;
  width: 160px;
}

.UICalendarPortlet .UIInsertAddress .UIAddressSearchForm .SearchIcon {
  float: left;
  height: 20px; width: 24px;
  margin: 10px 0px 0px 10px;
}

.UICalendarPortlet .UIInsertAddress .UIAddressSearchForm .SearchTitle {
  float: left;
  line-height: 20px;
  margin: 5px 0px;
  color: #555; 
}
.UICalendarPortlet .UIInsertAddress .AddressesGroup {
  width: 290px;
  height: 32px;
  margin: 0px 8px 0px 280px;
  text-align: right;
}

.UICalendarPortlet .UIInsertAddress .AddressesGroup .AddressLabel {
  float: left;
  width: 120px;
  padding: 0px 4px;
}

.UICalendarPortlet .UIInsertAddress .AddressesGroup select {
  width: 160px;
  margin: 10px 0px 0px 0px;
  font-size: 11px;
}

/*********************************************ListAddress*****************************************/

.UICalendarPortlet .UIInsertAddress .ListAddress {
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}


.UICalendarPortlet .UIInsertAddress .ListAddress .UIGrid .BlueDownArrowIcon{
  padding: 0px 10px 0px 4px; 
  width: 34px;
  float: left;
  cursor: pointer;
}
