.UIWorkingWorkspace .UIPageBody .VIEW-PAGEBODY {
  padding:0px;
}

.UIWorkingWorkspace .UIFooterPortlet {
  background:white;
  margin:0;
}

.UIWorkingWorkspace  .UIFooterPortlet .CopyrightInfo {
  color:#8A8A8A;
  font-size:10px;
  font-weight:bold;
  height:30px;
  line-height:30px;
  padding-right:90px;
  text-align:right;
}

