/*====================View Calendar =====================*/
.UICalendarViewContainer {
  margin-left: 243px; /* orientation=lt */
  margin-right: 243px; /* orientation=rt */
}

.UICalendarViewContainer .MainWorkingPanel {
  height: 400px;
}

.UICalendarViewContainer .UIHeaderBar, .UIListContainer .Result{
	border: solid 1px #c7c7c7;
	height: 33px;
}

.UIListContainer .Result{
	font-weight: bold;
	text-align: center;
	line-height: 33px;
}

.UICalendarViewContainer .ViewTypeSelect .UIPopupCategory {
  left: 315px;	
  position:absolute;
  top: 22px;
  width: auto;
}

.DummyDNDClass {
  position :absolute;
  padding : 0px;
  margin : 0px;
}
/*======================== Day view ==========================*/
.UIDayView {
}

.UIDayView .EventAllDay {
  background-color: #f4f4f4;
  border: 1px solid #c7c7c7;
  border-top: none;
  height: 28px;
}

.UIDayView .MainWorkingPanel {
	height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.UIDayView .EventDayContainer {
  border-top: 1px solid #fff;
}

.UIDayView .EventDayContent {
  background-color: #fff;
  *border-left: none;
}

.UIDayView .EventDayContent .TdLine{
  text-align: right;
  border-left: none;
  border: solid 1px #E6E6E6;
}

.UIDayView .EventDayContainer .EventDayContent .TdTime{
  text-align: right;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 55px;
  -moz-user-select: none;
  border-bottom: none;
  line-height: 19px;
}

.UIDayView .EventDayContent .TdDotLine{
  border-top:  1px dotted #fff;
  border-left: none ;
  -moz-user-select: none ;
}

.UIDayView .EventDayContent .TdTop {
  border-top: none ;
  border-left: none ;
}

.UIDayView .EventDayContent .UIGrid td{
  padding:0px;
  line-height: 19px;
  border-bottom: solid 1px ##E6E6E6;
  border-left: solid 1px ##E6E6E6;;
}

.UIDayView .EventDayContent .HourPoint {
  height: 60px ;
  border: 1px solid white ;
  text-align: right ;
}

.UIDayView .EventDayContent .EventContainerBorder{
  border:1px solid #808080;
  position: absolute;
}

.UIDayView .EventAllDay .EventContainerBorder{
  border:1px solid #808080;
  width: 100%; height: 24px;
}

.UIDayView .EventAllDay .EventContainerBorder .EventContainerBar{
  width: 100%;-moz-user-select : none ;
}

.UIDayView .EventAllDay .EventContainerBorder .EventContainer {
  width: 100%;
  -moz-user-select : none ;
  white-space: nowrap ;
}

.UIDayView .EventAllDay .EventContainer{
  padding: 2px 3px;
}

.UIDayView .EventDayContent .EventContainerBar{
  cursor: move;
  -moz-user-select : none ;
  padding-left: 2px;
  font-size: 10px;
  _padding-left: 17px;
  overflow:hidden;
}

.UIDayView .EventDayContent .EventContainer{
  overflow: hidden ;
  padding: 1px 2px;
  height: 10px;
  line-height: 11px;
}

.UIDayView .EventDayContent .ResizeEventContainer{
  background:transparent;
  width: 10%;
  height: 1px;
  margin:auto;
  border-top : solid 1px gray ;
  border-bottom : solid 1px gray ;
  cursor: n-resize;
  margin-bottom:1px;
}

.UIDayView .UIGrid {
  *width: auto;  /* fixed for IE */
  border-top: none;
}

.UIDayView .TitleBar .Today{
   color:red ;
}

.UIDayView .TitleBar .Today a{
   color:red ;
}

.UIDayView .WorkOffTime {
  background-color: #f3f3f3;
}

.UIDayView .Title{
  width: auto;
  text-align: center;
}
/*====================Week View============================*/
.UIWeekView .MainWorkingPanel {
  overflow-y:auto;
  overflow-x: hidden;
  height: 420px;
}

.UIWeekView .EventWeekContent {
}

.UIWeekView .UIGrid td.UICellBlock,
.UIWeekView .UIGrid td.UIEmtyBlock {
  background: #f3f3f3;  
  height: 33px;
  border: 1px solid #c7c7c7;
  border-top: none;
  width: 13.2%;
  *width: 14%;
  -moz-user-select: none ;
  padding: 0px ;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
}

.UIWeekView .UIGrid {
  border: 0px;
  background-color: white;
  *width: auto;
}

.UIWeekView .EventWeekBar {
  padding: 0px 16px 0px 0px;
  *padding: 0px 0px 0px 0px; /* orientation=rt */
  background: #EEE;
}

.UIWeekView .EventWeekBar .Day {
}

.UIWeekView .EventWeekBar .Day a {
   font-weight: normal;
   line-height: 33px;
   color: #212121;
}

.UIWeekView .EventWeekBar .Day a:hover {
  color:#212121;
}

.UIWeekView .EventWeekBar .Today {
   font-weight: bold ;
}

.UIWeekView .EventWeekBar .Weekend a {
  color: #464646;
}

.UIWeekView .EventWeekBar .Today a {
   color:#464646;
   line-height: 33px;
}

.UICalendarPortlet .UIWeekView .TdLine {
  /*border: 1px solid #e6e6e6;*/
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	width: 13.2%;
	*width: 14%;
}

.UICalendarPortlet .UIWeekView .TdTime {
  text-align: right;
  border: none;
  /*border-right: 1px solid #ededed;*/
  width: 55px;
  -moz-user-select : none ;
}

.UICalendarPortlet .UIWeekView .TdDotLine, .UICalendarPortlet .UIDayView .TdDotLine  {
  border-left: none;
  border: 1px solid #e6e6e6;
}

.UIWeekView td {
  border-top: none;
}

.UIWeekView .UIGrid td {
  padding:0px;
  line-height: 20px;
}

.UIWeekView .EventAllday {
  position:relative;
  background: #f4f4f4;
  border-top: none;
  height:28px;
  _position:static;
  border-bottom: solid 1px #fff;
}

.UIWeekView .EventAllday .Space{
  width: 58px; /* orientation=lt */
  width: 57px; /* orientation=rt */
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 100%; 
  background: #f4f4f4; 
}

.UIPageDesktop .UIWeekView .EventAllday {
  position:relative;
  background: #DFE6F8;
  border: 1px solid #c7c7c7;
  border-top: none;
  _width: 98.5%;
}

.UIWeekView .EventAlldayBoard {
  _position:relative;
}

.UIPageDesktop .UIWeekView .EventAlldayBoard {
  _position:static;
}

.UIWeekView .Today {
  background: #f7f7f7;
}

.UIWeekView .EventContainerBorder {
  border:1px solid #808080;
  -moz-user-select : none ;
  overflow: hidden;
}

.UIWeekView .EventContainerBar {
  border-bottom: none;
  -moz-user-select : none ;
  cursor: move ;
  overflow:hidden;
  _width: 90px;
}

.UIWeekView .EventDayContent .EventContainer {
  border:1px solid #ffffff;
  border-top: none;
   
  
}

.UIWeekView .EventContainerBorder .ResizeEventContainer {
  background: transparent ;
  width: 20%;
  height: 1px;
  margin:auto;
  cursor: n-resize;
  margin-bottom:1px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.UIWeekView .EventContainerBorder .EventContainer {
  overflow: hidden;
  line-height: 11px;
}

.UIWeekView .EventAlldayContainer {
  height: 13px;
  border: 1px solid #808080;
  visibility:hidden;
}

.UIWeekView .EventAlldayContainer .LeftResizeEvent {
  background: url('../background/CalendarBackground.gif') no-repeat left -130px;
  width: 2px;
  height: 11px;
  cursor: w-resize;
  margin-top: 1px;
  position:absolute;
  top:0px;
  left:0px;
}
.UIWeekView .EventAlldayContainer .EventAlldayContent {
  overflow: hidden;
  white-space: nowrap;
  margin:0px 2px 0px 2px;
  width: auto;
  _width: 100% ;
}

.UIWeekView .EventAlldayContainer .RightResizeEvent {
  background: url('../background/CalendarBackground.gif') no-repeat right -130px;  
  width: 2px;
  height: 11px;
  cursor: w-resize;
  margin: 1px 0px 0px 0px ;
  position:absolute;
  top:0px;
  right:0px;
}

.UIWeekView .EventAlldayContainer .RightContinueEvent {
  background: url('../background/CalendarBackground.gif') no-repeat left -292px;  
  width: 8px;
  height: 9px;
  margin: 2px 0px 0px 0px ;
  position:absolute;
  top:0px;
  right:0px;
}

.UIWeekView .EventAlldayContainer .LeftContinueEvent {
  background: url('../background/CalendarBackground.gif') no-repeat left -308px;  
  width: 8px;
  height: 9px;
  margin: 2px 0px 0px 0px ;
  position:absolute;
  top:0px;
  left:0px;
}

.UIWeekView .WorkOffTime {
  background-color: #f3f3f3;
}

.UIWeekView .TitleBar .Title {
   width:auto;
   text-align:center;
}

.UIWeekView .TitleBar .Title a{
	color: #464646;
}

.UIEventTooltip {
  position:absolute;
  background:yellow;
  border:#cccccc 1px solid;
  padding:2px;
  overflow:visible;
  white-space:nowrap;
}

/*====================Schedule View============================*/

.UIScheduleView .ScheduleViewBar {
  padding: 0px 16px 0px 1px;
  *padding: 0px 3px 0px 0px;
}

.UIPageDesktop .UIScheduleView .ScheduleViewBar {
  *padding: 0px 19px 0px 0px;
}

.UIScheduleView td {
  border-top: none;
}


.UIScheduleView .ScheduleViewContent {
  overflow:auto;
  height: 420px;
  padding-left: 1px;
  *padding-left: 0px;
}

.UIScheduleView .ScheduleViewBar .EventAllday {
  border-bottom: 1px solid #c7c7c7;
}


.UIScheduleView .UIGrid th {
  background: url('../background/CalendarBackground.gif') repeat-x center -106px;  
  height: 23px;
  border-right: 1px solid #c7c7c7; /* orientation=lt */
  border-left: 1px solid #c7c7c7; /* orientation=rt */
  width: 22%;
  border-top:none;
  border-bottom:none;
  border-left: none;
}

.UIScheduleView .UIGrid {
  border: 0px;
  background-color: #ffffff;
  *width: auto;
  table-layout: fixed;
}

.UIScheduleView .TimeBusy{
  border: 1px solid #ffffff;
  background: #FFF6A3;
}

.UIScheduleView .TimeVeryBusy{
  border: 1px solid #ffffff;
  background: #FFDCDC;
}

.UIScheduleView .TimeHost{
  border: 1px solid #ffffff;
  background: #F79090;
}

.UIScheduleView .TimeVeryHost{
  border: 1px solid #ffffff;
  background: #F10000;
}

.UIScheduleView .TdDotLine{
  border-top:  1px dotted #c7c7c7;
  width: 22%;
}

.UIScheduleView .TdLine{
  border-top:  1px solid #c7c7c7;
  width: 22%;
}

.UIScheduleView .TdTime{
  text-align: right;
  width: 55px;
}

.UIScheduleView .TdAll{
  width: 46px;
  *width: 47px;
}


.UIScheduleView .UIGrid td{
  padding: 0px;
}

.UIScheduleView .EventContainerBorder{
  border:1px solid #808080;
}

.UIScheduleView .EventContainerBar{
  border:1px solid #ffffff;
  border-bottom: none;
  background:#cdd7ff;
}

.UIScheduleView .EventContainer{
  border:1px solid #ffffff;
  border-top: none;
  background:#e5eaff;
}

/*====================Year View=====================*/

.UIYearView {
  border-bottom: 1px solid #c7c7c7;
}

.UIYearView .UIGrid {
  table-layout: fixed;
  *width: auto;
}

.UIYearView .MainWorkingPanel {
  overflow-y:auto;
  overflow-x: hidden;
  height: 480px;	
}

.UIYearView .DayWorkingArea {
  background-color: #ffffff;
}

.UIYearView .CalendarContentNomal {
  background: #ffffff;
  padding: 20px 20px 0px 0px;
}

.UIYearView .CalendarMatchedEventContent {
  background: #fff;
  padding: 20px 20px 0px 0px;
}

.UIYearView .WeekSuburdbar {
  background: #f3f3f3;  
  height: 33px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #c7c7c7;
}

.UIYearView .WeekSuburdbar a{
	color: #464646;
	font-weight: bold;
}

.UIYearView .CurrentWeekSuburdbar {
  background: url('../background/CalendarBackground.gif') repeat-x center -27px;  
  height: 22px;
  text-align: center;
  line-height: 22px;
}

.UIYearView .WeekList .SundayTitle {
  float: left;
  font-weight: bold; 
  line-height: 20px;
  width: 14%;
  text-align: center;
}

.UIYearView .WeekList .DayTitle {
  float: left;
  font-weight: bold; 
  color: #464646;
  line-height: 20px;
  width: 14%;
  text-align: center;
}

.UIYearView .MonthList {
  padding: 8px;
  border: solid 1px #ededed;
  border-top: none;
}

.UIYearView .DayList {
  padding: 4px;
  background:#ffffff;
}

.UIYearView .DayList .CalendarBoldDay {
  font-weight:bolder;
}

.UIYearView .MonthList .WeekList {
  padding-left: 4px;
}

.UIYearView .MonthList .UIGrid table {
  border: none;
}

.UIYearView .MonthList .UIGrid {
  border: none;
  width: 100%;
}

.UIYearView .MonthList .UIGrid td {
  border: 1px solid white;
  background: #fff;
  text-align: center;
  padding: 0px;
  vertical-align: middle;
}

.UIYearView .MonthList .UIGrid td a{
	color: #464646;
}

.UIYearView .MonthList .UIGrid .Today {
  font-weight: bolder;
}

.UIYearView .MonthList .UIGrid .Today a {
	color: #464646;
	border: 1px solid #b6b6b6;
	background: #f7f7f7;
}

.UIYearView .MonthList .Highlight {
  font-weight: bolder;
}
.UIYearView .MonthList .Highlight a{
  font-weight:bold;
}

.UIYearView .Title{
  width: auto;
  text-align: center;
}
/*====================Event List View=====================*/

.UIListView {
  overflow: auto;
}

.UIListView .AttachmentIcon{
  background-position: -6px -150px;
  width: 14px;
  line-height: 26px;
}

.UIListView .highPriorityIcon {
  _position:static;
 margin: auto;
 float: none;
}
.UIListView .normalPriorityIcon {
  _position:static;
 margin: auto;
 float: none;
}
.UIListView .lowPriorityIcon {
  _position:static;
 margin: auto;
 float: none;
}

.UIListView .UIGrid .UpArrow1Icon {
  background-position: no-repeat right;
  line-height: 20px;
  padding: 5px 20px 0px 0px;  /* orientation=lt */
  padding: 5px 0px 0px 20px;  /* orientation=rt */
}

.UIListView .Title{
  width: 350px;
  text-align: center;
}

.ListBar {
  background: url('../background/CalendarBackground.gif') repeat-x center -321px;    
  height: 33px;
}

.ListBar .Refresh16x16Icon {
  float: left;
  margin: 3px 4px 0px 8px;
  width: 18px; height: 18px;
}
.ListBar select {
  width: 85px;
  height: 20px;
  font-size: 11px;
  border:solid 1px #c3c3c3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ListBar a {
  color: #000000;
}

.ListBar a:hover {
  color: #058ee6;
}
.ListBar .Label {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 10px 4px 0px 3px;
}


.ListBar .AddCategoryIcon {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  width: 22px; 
  height: 22px;
  margin: 8px 15px 0px 0px; /* orientation=lt */
  margin: 8px 0px 0px 15px; /* orientation=rt */
}

.ListBar .EventCategory {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 7px 6px 0px 3px; /* orientation=lt */
  margin: 7px 3px 0px 6px; /* orientation=rt */
}

.UIListView table {
  width: 100%;
  _width: 99%;
  background-color: #ffffff;
  margin: 0px;
}

.UICalendarPortlet .UICalendarViewContainer .UIListView td {
	border: solid 1px #ededed;
}

.UIListView .UIGrid th {
	background: #f3f3f3;    
	height: 33px;
	border: 1px solid #c7c7c7;
	border-top: none;
	padding: 0px 0px 0px 7px; /* orientation=lt */
	padding: 0px 7px 0px 0px; /* orientation=rt */
	line-height: 31px;
	font-weight: normal;
}

.UIListView .UIGrid th a{
	color: #464646;
	font-weight: normal;
}

.UIListView .EventIcon {
  width: 16px;
  height: 16px;
  margin: 4px;
}

.UIListView .TaskIcon {
  width: 16px;
  height: 16px;
  margin: 4px;
}
.UIListView .BothIcon {
  width: 16px;
  height: 16px;
  margin: 4px;
}

.UIListView .Null {
  color: red; 
  border: 1px solid #c7c7c7; 
  border-top: none; 
  background: white; 
  line-height: 25px; 
  text-align:center;
}

.highPriorityIcon {
  width: 16px;
  height: 12px;
}

.normalPriorityIcon {
  width: 16px;
  height: 12px;
}

.lowPriorityIcon{
  width: 16px;
  height: 12px;
}

.UIPreview {
  background-color: #ffffff ;
  border: 1px solid #c7c7c7;
  width: 99%;
}

.UIPreview .ViewBar {
  background-color: #e7e7e7 ;  
  height: 30px;
  padding: 0px 8px;
}

.UIPreview .ViewBar .Label {
  float: left;
  margin: 7px 0px 0px 4px;
  font-weight: bold;
}

.UIPreview .ViewBar .MaximizeButton {
  float: right;
  margin: 7px 0px 0px 0px;
  cursor: pointer;
}

.UIPreview .ViewBar .MinimizeButton {
  float: right;
  margin: 7px 0px 0px 0px;
  cursor: pointer;
}

.UIPreview .AttachmentIcon {
  margin: 3px;
  width: 16px; height: 16px;
}

.UIPreview .ViewContainer {

}

.UIPreview .ViewContainer td{
  border: none;
}

.UIPreview .ViewContainer table{
  border: none;
}

.UIPreview .ViewContainer .AttachmentIcon {
  line-height: 16px;
  padding-left: 18px;
  height: auto;
  width: 160px;
  overflow: hidden;
}

.UIPreview .ViewContainer a {
  color: #1756d5;
  text-decoration: underline;
}

.UIPreview .ViewContainer .Actions {
  line-height: 20px;
}

.UIPreview .ViewContainer .Text {
  line-height: 20px;
  padding: 0px 5px;
}

.UIPreview .ViewContainer .Img {
  width: 175px; height: 110px;
  margin: 5px auto; 
}

.UICalendarViewContainer .EventDescription {
  width: 13px;
  height: 13px;
  float: left;
  margin: 0px 17px 0px 5px;
}

.UIPreview .ViewContainer .UIGrid .BntEvenPreview{
	margin-left: 25px;
}

.UICalendarWorkingContainer .UIPreview .ViewContainer .UIGrid td{
	padding: 5px 0px 5px 5px;
}

.UIPreview .ViewContainer .SeparatorDotLine {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  background: url('../background/CalendarBackground.gif') no-repeat -4px top;
  width: 1px;
  height: 25px;
  margin: 3px 5px;
}

.UIPreview .ViewContainer .ActionsContainer {
  border-top: 1px dotted #b7b7b7;
  margin: 0px 10px 0px 33px; /* orientation=lt */
  margin: 0px 33px 0px 10px; /* orientation=rt */
  padding-top: 2px;
}

.UIPreview .ViewContainer .ActionsContainer a {
  color: #000000;
  text-decoration: none;
}

.UIPreview .ViewContainer .ActionsContainer a:hover {
  color: #1756d5;
}

.UIPreview .ViewContainer .EditIcon {
  background-repeat: no-repeat;
  width: 50px;
}

/*====================View Event Month =====================*/

.UICalendarPortlet .TitleBar .BackIcon {
  margin:9px 10px 0px 0px; /* orientation=lt */
  margin:9px 0px 0px 10px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .TitleBar .NextIcon {
  margin:9px 0px 0px 4px; /* orientation=lt */
  margin:9px 4px 0px 0px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .TitleBar table {
  width: auto;
  margin: auto;
  background: none;
}

.UIMonthView .MainWorkingPanel {
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.UIMonthView .EventMonthContent .RowContainerDay {
}

.UIMonthView .EventMonthContent .UIGrid{
  padding-left: 0px; /* orientation=lt */
  padding-right: 0px; /* orientation=rt */
  border: none;
  *width: auto;
}

.UIMonthView .EventMonthContent .DayBox {
  text-align: right; /* orientation=lt */
  text-align: left; /* orientation=rt */
  border-top: 1px solid #fff;
  padding: 2px 6px;
}

.UIMonthView .EventMonthContent .PriorityIcon {
  width: auto;
}

.UIMonthView .EventMonthContent .normalPriorityIcon {

  height: 16px;
}

.UIMonthView .EventMonthContent .highPriorityIcon {

  height: 16px;
}

.UIMonthView .EventMonthContent .lowPriorityIcon {

  height: 16px;
}

.UIMonthView .MoreEvent .highPriorityIcon {
  position:static;
}


.UIMonthView .MoreEvent .normalPriorityIcon {
  position:static;
}


.UIMonthView .MoreEvent .lowPriorityIcon {
  position:static;
}


.UIMonthView .EventMonthContent .DisableDay {
  text-align: right; /* orientation=lt */
  text-align: left; /* orientation=rt */
  color: #909090;
}

.UIMonthView .EventMonthContent .Today {
  text-align: right; /* orientation=lt */
  text-align: left; /* orientation=rt */
  border-top: 1px solid #fff;
  padding: 0px 6px;
  line-height: 16px;
  font-weight:bold;
  background: #E0E0E0;
  color : #464646;
}

.UIMonthView .EventMonthContent .Today a {
  color : #464646;
}

.UIMonthView .EventMonthContent .ViewMoreIcon {
  line-height: 16px;
  padding-right: 18px; /* orientation=lt */
  padding-left: 18px; /* orientation=rt */
  text-align: right; /* orientation=lt */
  text-align: left; /* orientation=rt */
  cursor: pointer;
  color: #0e31ff;
  
}

.UIMonthView .EventMonthContent .UIGrid td {
	border: solid 1px #cacaca
}

.UIMonthView .EventMonthContent .WeekList {
  background: url('../background/CalendarBackground.gif') repeat-x center -363px;  
  height: 33px;
  border-right: 1px solid #fff; /* orientation=lt */
  border-left: 1px solid #fff; /* orientation=rt */
  border-left: none; /* orientation=lt */
  border-right: none; /* orientation=rt */
}

.UIMonthView .EventMonthContent  .WeekTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  text-align: center;
  line-height: 33px;
  width: 14%;
  font-weight: bold;
}

.UIMonthView .EventMonthContent .DayContent {
  height: 100px;
  text-align: right; /* orientation=lt */
  text-align: left; /* orientation=rt */
}

.UIMonthView .EventMonthContent  .RowContainerDay .CalendarContentNomal {
  background: #fff;
  padding: 0px;
}
.UIMonthView .EventMonthContent  .RowContainerDay .CalendarContentDisable {
  background: #f5f5f5;
  padding: 0px;
}

.UIMonthView .EventMonthContent  .RowContainerDay .CalendarMatchedEventContent {
  background: #cadbff;
  padding: 0px;
}


.UIMonthView .EventMonthContent  .RowContainerDay .NormalDayLabel {
  text-align: right; /* orientation=lt */
  text-align: left; /* orientation=rt */
}

.UIMonthView .EventMonthContent  .RowContainerDay .CurrentMonthLabel {
  font-weight: bold;
}

.UIMonthView .EventMonthContent .EventOnDayBorder {
  border: 1px solid #808080;
  margin: 1px;
}

.UIMonthView .EventMonthContent .EventOnDayContent {
  width: auto; 
  height: 20px;
}

.UIMonthView .EventMonthContent .EventCheckbox{
   float: left; /* orientation=lt */
   float: right;/* orientation=rt */
}

.UIMonthView .EventMonthContent .EventCheckbox .checkbox{
   margin: 3px 0px 0px 2px; /* orientation=lt */
    margin: 3px 2px 0px 0px; /* orientation=rt */
   *margin: 0px 0px 0px 0px;
}

.UIMonthView .EventMonthContent .EventSummary{
  margin: 0px 0px  0px 8px; /* orientation=lt */
  margin: 0px 8px  0px 0px; /* orientation=rt */
  padding-left:2px; /* orientation=lt */
  padding-right:2px; /* orientation=rt */
  overflow: hidden;
}

.UIMonthView .EventMonthContent .RightContinueEvent {
  background: url('../background/CalendarBackground.gif') no-repeat right -287px;  
  padding-right: 9px;
  height: 17px;
}

.UIMonthView .EventMonthContent .LeftContinueEvent {
  background: url('../background/CalendarBackground.gif') no-repeat left -303px;  
  padding-left: 9px;
}

.UIMonthView .EventMonthContent .EventLabel {
  line-height: 17px;
  height:17px;
  _width: 90%;
  white-space: nowrap;
  -moz-user-select : none;
  overflow-x: hidden;
}

.UIMonthView .Title{
  width: auto;
  text-align: center;
}

.UICalendarPortlet .MoreEvent {
  position:absolute;
  cursor:pointer;
  z-index:1;
}

.UIMonthView .MoreEvent .EventLabel {
  _padding-left:0px;
}


.UICalendarPortlet .MoreEvent .MoreEventBar {
  background: url('../skinIcons/icons/CloseMore.gif') no-repeat right;
  height: 16px;
  padding: 2px 0px 0px 3px;
  margin-right: 1px;
  _margin-right: 0px;
  color:#00f;
}

.UICalendarPortlet .MoreEvent .MoreEventTitleBar {
 _width: 90%;
 margin: 0px 16px 0px 0px;
 cursor:move;
}

.UICalendarPortlet .MoreEvent .MoreEventLabel {
 padding: 0px 0px 0px 3px;
 color:#00f;
}

.UICalendarPortlet .MoreEvent .MoreEventContainer {
  position:absolute;
  background-color: #e9edf9;
  border: 1px solid #b7b7b7;
  width:100%;
  display:none;
  _padding-left:1px;
}

.UICalendarPortlet  .MoreEvent .EventCheckbox {
  position:static;
  float:left;
}

.UIMonthView .DummyDNDClass .EventCheckbox {
  position:static;
  float:left;/* orientation=lt */
  float: right;/* orientation=rt */
}

.UIMonthView .RowContainerDay .EventBoxes {
  position:absolute;
  left:0px;
}

.UIMonthView .MoreEvent .EventBoxes {
  position:static;
  width:100%;
  left:0px;
}

/*====================View Task List =====================*/

.UITaskView .TaskListContainer {
  padding-right: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}

.UITaskView .TaskListContainer .ListBar {
  background: url('../background/CalendarBackground.gif') repeat-x center -79px;  
  height: 26px;
  padding: 0px 8px;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}

.UITaskView .TaskListContainer .UIPreview {
  padding: 1px;
  background-color: #ffffff ;
  border: 1px solid #c7c7c7;
}

.UITaskView .TaskListContainer .ViewBar {
  background-color: #e7e7e7 ;  
  height: 30px;
  padding: 0px 8px;
}

.UITaskView .TaskListContainer .TaskList {
  padding-left: 1px;
  background-color: #ffffff;
}

.UITaskView .TaskListContainer .AddCategoryIcon {
  background: url('../skinIcons/icons/CalendarIcons.gif') no-repeat left -27px;
  float: right;
  width: 16px; height: 16px;
  margin: 5px 6px 0px 3px;
}

.UITaskView .TaskListContainer .ComboBox {
  float: right;
  margin: 3px 6px 0px 3px;
}

.UITaskView .TaskListContainer .ListBar .Label {
  float: right;
  margin: 7px 4px 0px 3px;
}

.UITaskView .TaskListContainer .ViewBar .Label {
  float: left;
  margin: 7px 4px 0px 3px;
  font-weight: bold;
}

.UITaskView .TaskListContainer .ViewBar .MaximizeButton {
  float: right;
  margin: 7px 4px 0px 3px;
  cursor: pointer;
}

.UITaskView .TaskListContainer .AttachmentIcon {
  margin: 3px;
  width: 16px; height: 16px;
}

.UITaskView .TaskListContainer .ViewContainer {
  padding: 4px;
}

.UITaskView .TaskListContainer .ViewContainer td{
  border: none;
}

.UITaskView .TaskListContainer .ViewContainer table{
  border: none;
}

.UITaskView .TaskListContainer .ViewContainer .AttachmentIcon {
  line-height: 16px;
  padding-left: 18px;
}

.UITaskView .TaskListContainer .ViewContainer a {
  color: #058ee6;
  text-decoration: underline;
}

.UITaskView .TaskListContainer .ViewContainer .Actions {
  line-height: 20px;
}

.UITaskView .TaskListContainer .ViewContainer .Text {
  line-height: 20px;
}

.UITaskView .TaskListContainer .ViewContainer .Img {
  width: 175px; height: 110px;
  margin: 5px auto; border: 1px solid #ffffff;
}

.UITaskView .TaskListContainer .ViewContainer .TaskDescription {
  line-height: 14px;
  font-weight: bold;
  color: #2c498b;
}

.UITaskView .TaskListContainer .ViewContainer .SeparatorDotLine {
  float: left;
  background: url('../background/CalendarBackground.gif') no-repeat 4px top;
  width: 1px; height: 25px;
  margin: 3px 5px;
}

.UITaskView .TaskListContainer .ViewContainer .ActionsContainer {
  background: url('../background/CalendarBackground.gif') repeat-x center -183px;
  margin-right: 10px;
}

.UITaskView .TaskListContainer .ViewContainer .ActionsContainer a {
  color: #000000;
  text-decoration: none;
}

.UITaskView .TaskListContainer .ViewContainer .ActionsContainer a:hover {
  color: #1756d5;
}

.UITaskView .TaskListContainer select {
  width: 150px; height: 18px;
  font-size: 11px;
}

.UITaskView .TaskListContainer .DownArrow1Icon {
  line-height: 18px;
  background-position: right;
  padding-right: 16px; 
}

.UITaskView a {
  color: #000000;
}

.UITaskView a:hover {
  color: #058ee6;
}

.UITaskView .TaskListContainer  .UIGrid th {
  background: url('../background/CalendarBackground.gif') repeat-x center -162px;  
  height: 20px;
  border-right: 1px solid #c7c7c7;
  border-bottom: none;
}

.UserSelectionBlock {
  background: #cccccc ;
  position: absolute ;
  opacity: 0.5 ;
  filter:alpha(opacity=50) ;
  -moz-user-select : none ;
}

.UIWeekView .UIGrid .UserSelection {
  background: #cccccc ;
  opacity: 0.5 ;
  filter:alpha(opacity=50) ;
  -moz-user-select : none ;
}

.UICalendarEventTooltip {
  background: #d4ecee;
  max-width:300px;
  min-width:200px;
  position:absolute;
  display:none;
}

.UICalendarEventTooltip .Time {
  font-weight: bold;
  color: #595959;
  margin-bottom: 5px;
}

.UICalendarEventTooltip .Title {
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.UICalendarEventTooltip .Description{
  color: #000;
  margin-bottom: 5px;
}


.UICalendarEventTooltip .BgTLEvent{
  background: url('../background/EventDetailBorder.gif') no-repeat left top;
  padding-left: 6px;
}

.UICalendarEventTooltip .BgTREvent{
  background: url('../background/EventDetailBorder.gif') no-repeat right top;
  padding-right: 5px;
}

.UICalendarEventTooltip .BgTCEvent{
  background: url('../background/EventDetailBorder.gif') repeat-x left -7px;
  height: 7px;
}

.UICalendarEventTooltip .BgMREvent{
  background: url('../background/EventDetailMR.gif') repeat-y right top;
  padding-right: 5px;
}

.UICalendarEventTooltip .BgMLEvent{
  padding-left: 5px;
  background: url('../background/EventDetailML.gif') repeat-y left top;
}

.UICalendarEventTooltip .BgMCEvent{
  background: #d4ecee;
  padding: 13px;
}

.UICalendarEventTooltip .BgBLEvent{
  background: url('../background/EventDetailBorder.gif') no-repeat left -14px;
  padding-left: 7px;
}

.UICalendarEventTooltip .BgBREvent{
  background: url('../background/EventDetailBorder.gif') no-repeat right -14px;
  padding-right: 5px;
}

.UICalendarEventTooltip .BgBCEvent{
  background: url('../background/EventDetailBorder.gif') repeat-x left -20px;
  height: 6px;
}
