
/*============== uiActionBar ================*/

.uiActionBar{
	.UIForm{
		float: right;
	}
	.settingActionBar{
		margin: 5px 15px 0 9px;
	}
	.leftActionBar{
		margin-right: 260px;
	}
	.separatorLine{
		background: #cbcbcb;
		.box-shadow(1px 0 0 #fff);
		width: 1px;
		height: 26px;		
		display: inline-block;
		vertical-align: middle;
		margin-right: 7px;
		&.pull-right {
			top: 1px;
			position: relative;
		}
	}
	.alignBtnGroup{
		text-align: center;
	}
	.pull-left 
		{
			.btn-primary{
				margin-right: 8px;
				&+.btn-primary{
					margin-right: 43px;
				}
			}
			.todayActionBar{
				margin: 0 15px 0 10px;
				color: @textColor;
			}
		}
	
}
