.UIHomePagePorlet{
  margin:0 auto;
  padding-top:7px;
  width:984px;
}

.UIHomePagePorlet .CSHomeContainer a:hover {
  text-decoration: underline;
}

.UIPageBody .VIEW-PAGEBODY .UIPage .UIComponentBlock {
  background:#eeeeee;
}

.UIHomePagePorlet .BannerDefault {
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BannerDefault.gif") no-repeat center top;  /* orientation=lt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BannerDefault-rt.gif") no-repeat center top;  /* orientation=rt */
  height: 300px;
  width: 984px;
}

.UIHomePagePorlet .BannerDefault .CSProductName {
  padding: 66px 45px;
  text-align: right;  /* orientation=lt */
  text-align: left;  /* orientation=rt */
}

.UIHomePagePorlet .BannerDefault .CSProductName h2 {
  font-size:52px;
  color: #FFF;
  font-family:Hattori,Lucida sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
}

.UIHomePagePorlet .BannerDefault .CSProductName h3 {
  font-size:35px;
  color: #FFF;
  font-family:Hattori,Lucida sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
}

.UIHomePagePorlet .BoxButton  {
  padding:2px 0 4px 0;
}

.UIHomePagePorlet .BoxButton  .Container {
  width: 492px;
  height: 94px;  
}

.UIHomePagePorlet .BoxButton  .FL {
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgDocument.gif") no-repeat center top;  /* orientation=lt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgDocument-rt.gif") no-repeat center top;  /* orientation=rt */
}


.UIHomePagePorlet .BoxButton  .FR {
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgTry.gif") no-repeat center top;  /* orientation=lt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgTry-rt.gif") no-repeat center top;  /* orientation=rt */
}

.UIHomePagePorlet .BoxButton  .Container .BoxDocument {
  padding-left: 66px; /* orientation=lt */
  padding-right: 66px; /* orientation=rt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconDoc.gif") no-repeat left top; /* orientation=lt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconDoc-rt.gif") no-repeat right top; /* orientation=rt */
  height: 54px;
  margin: 19px 0 0 15px; /* orientation=lt */
  margin: 19px 15px 0 0; /* orientation=rt */
}

.UIHomePagePorlet .BoxButton  .Container .BoxTry {
  padding-left: 108px; /* orientation=lt */
  padding-right: 108px; /* orientation=rt */
  height: 54px;
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/PlatformIcon.gif") no-repeat left top;   /* orientation=lt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/PlatformIcon.gif") no-repeat right top;  /* orientation=rt */
  margin: 19px 0 0 20px; /* orientation=lt */
  margin: 19px 20px 0 0; /* orientation=rt */
}

.UIHomePagePorlet .BoxButton  .Container  h4 {  
  font-size: 20px;
  color: #20263f;
  line-height: 28px;  
}

.UIHomePagePorlet .BoxButton  .Container  .ArrowBlue {
  font-weight: bold;
  padding-left:14px; /* orientation=lt */
  padding-right:14px; /* orientation=rt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/ArrowBlue.gif") no-repeat left center;  /* orientation=lt */
  background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/ArrowBlue-rt.gif") no-repeat right center;  /* orientation=rt */
  line-height: 25px;
  font-size: 16px;
  display: block;  
}

.CSHomeContainer  .LeftContainer {
  margin-right: 270px; /* orientation=lt */
  margin-left: 270px; /* orientation=rt */
}

.CSHomeContainer  .LeftContainer .RowContent  a{
  font-size: 14px;
}


.CSHomeContainer  .LeftContainer  .RowContent  {  
  padding: 5px 0 5px 24px;  /* orientation=lt */
  padding: 5px 24px 5px 0;  /* orientation=rt */
}

.CSHomeContainer .LeftContainer  .RowContent .ProductTitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
}

.CSHomeContainer  .LeftContainer  .ListArrow {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconList.gif") no-repeat  left center;  /* orientation=lt */
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconList-rt.gif") no-repeat  right center;  /* orientation=rt */
  color:#626262;
  padding-left:15px; /* orientation=lt */
  padding-right:15px; /* orientation=rt */
  line-height: 20px;
  
}

.CSHomeContainer  .LeftContainer  .ColsProduct {
  width: 363px;
}

.CSHomeContainer  .LeftContainer  .Information {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/ArrowBlack.gif") no-repeat  left center; /* orientation=lt */
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/ArrowBlack-rt.gif") no-repeat  right center; /* orientation=rt */
  font-size: 14px;
  padding:4px 0 6px 15px; /* orientation=lt */
  padding:4px 15px 6px 0; /* orientation=rt */
  color: #20263f;
}


/* style for  corner */

.DecorationContainer  .DecorationTL {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat left top ;
  padding-left:10px;
}

.DecorationContainer  .DecorationTR {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat  right -20px ;
  padding-right:10px;
}

.DecorationContainer .DecorationTC {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") repeat-x  left -10px ;
  padding-top:10px;
}

.DecorationContainer .DecorationML {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgMiddle.gif") repeat-y  left top ;
  padding-left:3px;
}

.DecorationContainer .DecorationMR {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgMiddle.gif") repeat-y  right top ;
  padding-right:3px;
}


.CSHomeContainer .DecorationContainer .DecorationMC {
  background: #FFF;
  overflow: hidden;
  min-height: 365px;
  _height: 365px;
}

.DecorationContainer .DecorationBL {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat  left -30px;
  padding-left:10px;
}

.DecorationContainer .DecorationBR {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat right -50px;
  padding-right:10px;  
}

.DecorationContainer .DecorationBC {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") repeat-x  left -40px;
  padding-top:10px;
}

.CSHomeContainer .BorderBottom {
  border-bottom: 1px solid #eeeeee;
  
}

.CSHomeContainer .RowContent .Introduction {
  font-size: 14px;
  line-height: 22px;  
  color: #20263f;
}
.CSHomeContainer .RowContent .Introduction  span{  
  color: #20263f;
  font-size: 14px;
}

.CSHomeContainer .RightContainer {
  width: 264px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}
  
.CSHomeContainer .RightContainer .DecorationMC .ClearFix{
  padding: 15px 0 0 6px;  /* orientation=lt */
  padding: 15px 6px 0 0; /* orientation=rt */
}


.CSHomeContainer  .BlockWebsite {
  padding-bottom:10px;
  text-align:center;
  width:112px;
}


.CSHomeContainer  .TxtLinkIcon {
  font-weight: bold;
  color: #565759;  
  display:block;
  padding-top: 5px;
}

.CSHomeContainer  .BlockWebsite .Icon {
  display: block;
  height:54px;
  margin:auto;
  width:57px;
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconPlatForm.png") no-repeat; 
}

.CSHomeContainer .BlockWebsite  .IconContact {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconPlatForm.png") no-repeat left -274px;/* orientation=lt */
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconPlatForm-rt.png") no-repeat right -274px;/* orientation=rt */
}


.CSHomeContainer  .BlockWebsite .IconResource {
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconPlatForm.png") no-repeat left top; /* orientation=lt */
  background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconPlatForm-rt.png") no-repeat right top; /* orientation=rt */
}

.CSHomeContainer .BlockWebsite .IconSupport {
  background-position: left -55px;  
}

.CSHomeContainer  .BlockWebsite .IconTraining {
  background-position: left -110px;
}

.CSHomeContainer  .BlockWebsite .IconBlog {
  background-position: left -165px;
}

.CSHomeContainer  .BlockWebsite .IconWebsite {
  background-position: left -220px;
}


.UIWorkingWorkspace .UIFooterPortlet .CopyrightInfo  {
  color:#7b7b7b;
  font-size:11px;
  padding:10px 0;
  text-align:center;
  font-weight: normal;
  background-color: #EEE;
}