
/*============== uiFormColorPicker ================*/
.iconCheckBox{
	background: url("/calendar/skin/images/background/iconCheckBox.png") no-repeat left top;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
	min-height: 12px;
}

.calendarTableColor{
	padding: 7px 13px;
	.colorCell{
		border: 1px solid transparent;
		text-align: center;
		width: 16px;
		height: 16px;
		display: block;
		float: left;
		margin: 2px;		
		&:hover {
			border: 1px solid @grayDark;
		}
	}

}


/*============== ColorPicker ================*/

.asparagus {
    background-color: #909958;
}

.munsell_blue {
    background-color: #319AB3;
}

.navy_blue {
    background-color: #4273C8;
}

.purple {
    background-color: #774EA9;
}

.red {
    background-color: #FF5933;
}

.brown {
    background-color: #BB8E62;
}

.laurel_green {
    background-color: #BED67E;
}

.sky_blue {
    background-color: #4DBED9;
}

.blue_gray {
    background-color: #8EB0EA;
}

.light_purple {
    background-color: #BC99E7;
}

.hot_pink {
    background-color: #F97575;
}

.light_brown {
    background-color: #C5B294;
}

.moss_green {
    background-color: #98CC81;
}

.powder_blue {
    background-color: #9EE4F5;
}

.light_blue {
    background-color: #B3CFFF;
}

.pink {
    background-color: #FFC8F0;
}

.orange {
    background-color: #FDB519;
}

.gray {
    background-color: #A39594;
}

.green {
    background-color: #89D4B3;
}

.baby_blue {
    background-color: #B2E2FF;
}

.light_gray {
    background-color: #CDCDCD;
}
.beige {
    background-color: #FFE1BE;
}

.yellow {
    background-color: #FFE347;
}

.plum_purple {
    background-color: #CEA6AC;
}