.UICalendarPortlet .UIAddNewEvent .RemoveFile{
  float: none;
  margin-left: 0px;
}

.UICalendarPortlet .UIAddNewEvent .ReminderByEmail {
  padding: 6px;
  background: #f4f4f4;
  border: 1px solid #c9c9c9;
  margin-bottom: 4px;
  _width: 97%;
}

.UICalendarPortlet .UIAddNewEvent .ReminderByEmail input.checkbox{
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 3px; /* orientation=lt */
  margin-left: 3px; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .ReminderByEmail .FieldLabel {
  line-height: 18px;
}

.UICalendarPortlet .UIAddNewEvent .ReminderByPopup .FieldLabel {
  line-height: 18px;
}

.UICalendarPortlet .UIAddNewEvent .ReminderByPopup input.checkbox{
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 3px; /* orientation=lt */
  margin-left: 3px; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .ReminderByEmail .selectbox{
  width: 92px;
}

.UICalendarPortlet .UIAddNewEvent .ReminderByPopup .selectbox{
  width: 92px;
}

.UICalendarPortlet .UIAddNewEvent .ReminderByPopup {
  background: #f4f4f4;
  padding: 6px;
  border: 1px solid #c9c9c9;
  _width: 97%;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid{
  margin-top: 10px;
}

.UICalendarPortlet .UIAddNewEvent .HorizontalLayout {
  border: none;
}

.UICalendarPortlet .UIAddNewEvent .UIFormWithTitle {
  margin: 8px auto ;
}

.UICalendarPortlet .UIAddNewEvent .UITabContentContainer .UITabContent {
  border:none;
}

.UICalendarPortlet .UIAddNewEvent .AddEmailAddress {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1841px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1841px; /* orientation=rt */
  width: 18px;
  height: 16px;
  margin: 1px 0px 0px 6px; /* orientation=lt */
  margin: 1px 6px 0px 0px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .UIAddNewEvent .AddUserIcon {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1793px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1793px; /* orientation=rt */
  width: 18px; 
  height: 16px;
  margin: 4px 0px 0px 6px; /* orientation=lt */
  margin: 4px 6px 0px 0px; /* orientation=rt */
  cursor: pointer;
  
}

.UICalendarPortlet .UIAddNewEvent .DeleteUserIcon {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1769px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1769px; /* orientation=rt */
  width: 18px; 
  height: 16px;
  margin: 4px 4px 0px 6px; /* orientation=lt */
  margin: 4px 6px 0px 4px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .UIAddNewEvent .SaveUserIcon {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1817px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1817px; /* orientation=rt */
  width: 18px; 
  height: 16px;
  margin: 4px 0px 0px 6px; /* orientation=lt */
  margin: 4px 6px 0px 0px; /* orientation=rt */
  cursor: pointer;
}

.UICalendarPortlet .UIAddNewEvent .HorizontalLayout .DateTime {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 3px; /* orientation=lt */
  margin-left: 3px; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Date {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 7px; /* orientation=lt */
  margin-left: 7px; /* orientation=rt */
  width: 108px;
  background-position-x: right;/* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Date input{
  font-size: 11px;
  width: 104px;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .CheckBoxRepeat {
  float: left;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .RepeatLabel {
  float: left;
  margin-left: 7px;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .RepeatInterval {
  float: left;
  margin-left: 7px;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Time{
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-size: 11px;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Time .UIComboboxInput{
  width: 120px;
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .ReminderLabel{
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .ReminderTime .selectbox{
  width: 60px;
}

.UICalendarPortlet .UIAddNewEvent .HorizontalLayout .FieldComponent .UIAction {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  padding: 0px;
  margin-left: 4px; /* orientation=lt */
  margin-right: 4px; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .NewEventSharing input {
  width: 12px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .DateTimeContainer {
  margin: 8px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee input {
  width: 100px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .Label {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 0px 3px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .Field {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .UIGrid td {
  border:1px solid #cccccc;
  height: 24px;
  padding: 0px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .FreeTime {
  background-color: #f6f6f6; 
  width: 11px;
  -moz-user-select: none ;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .ParticipantsFreeTime {
  background-color: white; 
  width: 11px;
  -moz-user-select: none ;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .BusyTime {
  background-color: #c41616;
  width: 11px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .BusyDotTime {
  background-image: url('background/RedDot2x2.gif') ;
  width: 11px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .UIGrid .Title {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  color: black;
  margin: 4px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .UIGrid .Input {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 5px 0px 0px 4px; /* orientation=lt */
  margin: 5px 4px 0px 0px; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .UIGrid input {
  width: 115px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .TitleBar {
  background: url('../../background/CalendarBackgrond.gif') repeat-x center -51px;  
  height: 23px;
  border: 1px solid #c7c7c7;
  border-bottom: none;
  line-height: 20px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .BackIcon {
  width: 20px; 
  height: 16px;
  margin: 2px 4px 0px 3px; /* orientation=lt */
  margin: 2px 3px 0px 4px; /* orientation=rt */
  cursor: pointer;
  float: none;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .NextIcon {
  width: 20px; 
  height: 16px;
  margin: 2px 4px 0px 3px; /* orientation=lt */
  margin: 2px 3px 0px 4px; /* orientation=rt */
  cursor: pointer;
  float: none;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .TitleBar .Title {
  margin: 4px 4px 0px 0px; /* orientation=lt */
  margin: 4px 0px 0px 4px; /* orientation=rt */
  float: none;
  color: black;
  font-weight: bold;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .TimeNumber {
  text-align: center;
  line-height: 20px;
  float: none;
  margin: 0px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .DateTimeContainer input{
   width: 100px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .DateTimeContainer .checkbox{
   width: 16px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .DateTimeContainer .ApplySelectedDate {
  float: left; /* orientation=lt */
  float: right;/* orientation=rt */
  width: 150px; 
  line-height: 20px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .TimeNumberDisable {
  display: none ;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .LeftSide {
  width: 160px;
  height: 20px;
  text-align: center;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .LeftSide .Input .checkbox{
  width: 13px;
  height: 13px;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .ThiefBox {
  border: 1px solid #c7c7c7;
  border-top: none;
  width: 99.6%;
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .ThiefBox .FreeTime {
  border: 1px solid #c7c7c7;
  width: 15px; 
  height: 15px;
  margin: 4px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .ThiefBox .BusyTime{
  border: 1px solid #c7c7c7;
  width: 15px; 
  height: 15px;
  margin: 4px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .ThiefBox .Label{
  margin: 4px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
}

.UICalendarPortlet .UIAddNewEvent .AddAttachmentIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.UICalendarPortlet .UIAddTask {
  background-color: #ffffff;
  padding: 8px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout {
  background-color: #f7f7f7;
  padding: 8px;
}

.UICalendarPortlet .UIAddTask .UIFormWithTitle {
  margin: 8px auto ;
}

.UICalendarPortlet .UIAddTask .AddCategory {
  width: 16px; 
  height: 16px;
  margin: 1px 0px 0px 6px; /* orientation=lt */
  margin: 1px 6px 0px 0px; /* orientation=rt */
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .DateTime {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 3px; /* orientation=lt */
  margin-left: 3px; /* orientation=rt */
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .DateTime input {
  font-size: 11px;
  width: 104px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .AddIcon16x16 {
  width: 16px;
  height: 16px;
  margin: 0px 2px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .SelectUserIcon {
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1324px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1324px; /* orientation=rt */
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .SelectMemberIcon {
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1272px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1272px; /* orientation=rt */
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .AddAnyIcon {
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat left -1297px; /* orientation=lt */
  background: url('../../skinIcons/icons/CalendarIcons.gif') no-repeat right -1297px; /* orientation=rt */
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .UIAction {
  width: 65px;
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  padding: 0px;
  margin-left: 4px; /* orientation=lt */
  margin-right: 4px; /* orientation=rt */
}

.UICalendarPortlet .UIQuickAddEvent .UIFormGrid .FieldComponent .Date {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  background: none;
  margin-right: 7px; /* orientation=lt */
  margin-left: 7px; /* orientation=rt */
  _margin-right: 1px; /* orientation=lt */
  _margin-left: 1px; /* orientation=rt */
}

.UICalendarPortlet .UIQuickAddEvent .UIFormGrid .FieldComponent .Date input{
  font-size: 11px;
  width: 104px;
}

.UICalendarPortlet .UIQuickAddEvent .UIFormGrid .FieldComponent .Time{
  float: left;
  font-size: 11px;
}

.UICalendarPortlet .UIQuickAddEvent .UIFormGrid .FieldComponent .Time .UIComboboxInput{
  width: 120px;
}
.UICalendarPortlet .UIAddNewEvent .NewEventAttendee .UserSelection {
  background: #006600 ;
  filter:alpha(opacity=75);
  opacity: 0.75
}
/********************* EventShareTab ***************************/


.eventShare .UIFormGrid td.FieldLabel {
  text-align:left; /* orientation=lt */
  text-align:right; /* orientation=rt */
  width:20%;
  line-height:16px;
}

.eventShare .UIFormGrid .AddNewNodeIcon {
  margin-left:10px; /* orientation=lt */
  margin-right:10px; /* orientation=rt */
}
/********************* UIInvitationForm ***************************/

.UICalendarPortlet .UIInvitationForm {
  background:#F7F7F7 none repeat scroll 0 0;
  border:1px solid #AEAEAE;
  padding:10px 15px;
}

.UICalendarPortlet .UIInvitationForm .Label {
  width:100%;
  margin-bottom:5px;
}

.UICalendarPortlet .UIInvitationForm .ParticipantLabel {
  margin-left:10px; /* orientation=lt */
  margin-right:10px; /* orientation=rt */
}

.UICalendarPortlet .UIInvitationForm .Field {
  width:100%;
}

.UICalendarPortlet .UIInvitationForm .textarea {
  width:100%;
  height:100%;
  overflow-y:auto;
}

.UICalendarPortlet .UIInvitationForm .Participant {
  height:100px;
}

.UICalendarPortlet .UIInvitationForm .Invitation {
  height:180px;
}

.UICalendarPortlet .UIInvitationForm .InvitationGroup {
  margin-top:20px;
}