body  , table, form {
  background: #fff;
  font-family: Lucida Sans, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #484848;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.ClearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ClearFix {
  !display: inline-block;
  !zoom: 1;
  !display: block; 
}

.TxtDarkBlue {
  color: #231a67;
}

.TxtGray {
  color: #484848;
}

.UIGadgetThemes .TitGad {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px 3px;
    color: #2F3334;
    line-height: 25px;
    padding: 0 5px 0 8px;
}

.UIGadgetThemes .TitGad .ContTit {
    font-size: 14px;
    margin-right: 45px;
}

.UIGadgetThemes .TitGad .IconDropDown {
  float: right;
  font-size: 11px;
  color: #484848;
  display: block;
}

.UIGadgetThemes .GadCont {
  padding: 10px 15px;
  font-size: 12px;
}

.UIGadgetThemes .GadCont .IconLink {
  background: url('/csResources/gadgets/events/skin/IconLink.gif') no-repeat left center;
  display: block;
}

/** UpcomingEvents **/
.UIGadgetThemes .UpcomingEvents .IconLink {
  padding-left: 10px;
  margin-bottom: 5px;
  color: #484848;
}

.UIGadgetThemes .UpcomingEvents span {
  color: #2f5e92;
  padding-left: 10px;
}

.UIGadgetThemes .EventDetail {
  display:none;  
}

.UIGadgetThemes .SettingButton{
  float:right;
}

