.UICalendarPortlet .UIRemoteCalendar #id-username input, .UICalendarPortlet .UIRemoteCalendar #id-password input {
  width: 200px;
}

.UICalendarPortlet .UIRemoteCalendar #id-username .FieldComponent{
  padding-left:5px;
}

.UICalendarPortlet .UIRemoteCalendar #id-password .FieldComponent {
  padding-left: 7px;
}

.UICalendarPortlet .UIRemoteCalendar .InputFieldLabel {
  line-height: 30px;
}
