#banner {
  border-top: 1px solid white;
}  

.UIBannerPortlet {
  overflow: auto;
  background: url('DefaultSkin/background/BgBanner.gif') repeat-x bottom center;
  padding:8px 40px 6px;
  zoom: 1;
}



.UIBannerPortlet .RightBanner {
  background: url('DefaultSkin/background/Logo.gif') no-repeat left bottom; /* orientation=lt */
  background: url('DefaultSkin/background/Logo_rt.gif') no-repeat right bottom; /* orientation=rt */
  height: 57px;
}



.UIBannerPortlet .LeftLoginContainer {   
  padding-left: 10px;
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin-right: 5px; /* orientation=lt */
  margin-left: 5px; /* orientation=rt */
}

.UIBannerPortlet .RightLoginContainer {   
  padding-right: 5px;
}

.UIBannerPortlet .MiddleLoginContainer {
  
  padding: 5px 15px 7px 15px;
}

.UIBannerPortlet .Signin {
  
  padding: 15px 15px 20px 15px;
}

.UIBannerPortlet .MiddleLoginContainer a {
  color: #0d62af;
  outline: none;
}

.UIBannerPortlet .MiddleLoginContainer a:hover {
  color: #058ee6;
}

.UIBannerPortlet .MiddleLoginContainer .Name {
  text-align: left;   
  color: #0d62af;
  font-size: 10px;
  margin-bottom: 6px;
  line-height: 15px;
}

.UIBannerPortlet .MiddleLoginContainer .Logout {
  background: url('DefaultSkin/background/Container.gif') no-repeat left -144px;
  margin-right: 12px;
  padding-left: 20px;     
  cursor: pointer;
  float: left;  
  font-weight: bold;
  font-size: 10px;
  display: block;
  line-height: 17px;
}


.UIBannerPortlet .MiddleLoginContainer a {
  background: none;
    color: #FFD400;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    padding-left: 10px;
}

.UIBannerPortlet .MiddleLoginContainer a:hover {
  color:#8F8F8F;
}


.UIBannerPortlet .Version {
  background: none;
  float:left; /* orientation=lt */
  float:right; /* orientation=rt */
  padding:33px 0px 0px 144px;  /* orientation=lt */
  padding:33px 144px 0px 0px;  /* orientation=rt */
  color:#050708;
  font-size:12px;
  display:block;
}

.UIUserSelector .UIAddressSearchForm select {
  height: auto;
  padding:1px 0;
}