
/*=========================Calendar ControlBar======================================*/
.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .Title {
  margin: 7px 4px 0px 4px;
  font-weight: bold;
}

.UICalendarPortlet .CalendarWorkingWorkspace .ControlButton {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 18px;
  cursor: pointer;
  margin-top: 3px;
}

.UICalendarPortlet .UIListContainer .ControlButton{
	line-height: 14px;
	margin-top: 0px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .SwitchButton {
  display: block;
}

.UICalendarPortlet .CalendarWorkingWorkspace .SelectButton {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  line-height: 20px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .RightControlButton {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  line-height: 26px;
  cursor: pointer;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .ControlButton {
  color: #000000;
  margin: 3px 0px;
  cursor: pointer;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .ControlButton:hover {
	color: #fff;
	background: #757575;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 3px 0px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .ControlButtonHover div{
	color: #fff;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .ControlButtonHover a{
	color: #fff;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .ControlButtonHover {
	background: #757575;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 3px 0px;
	color: #fff;
}

.UICalendarPortlet .CalendarWorkingWorkspace  .UIPopupCategory a {
  color: #000000;
  margin: 0px;
}

.UICalendarPortlet .CalendarWorkingWorkspace  .UIPopupCategory a:hover {
  background: none ;
  color: #058ee6; 
  border: none;
  height: auto;
}

.UICalendarPortlet .CalendarWorkingWorkspace .SeparatorLine {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 3px 3px 0px 3px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .NextIcon {
  margin-top: 6px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .BackIcon {
  margin-top: 6px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .RightLine {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 3px 5px 2px 5px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .IconHolder {
  line-height: 25px;
  margin: 0px 7px;
  padding-left: 22px; /* orientation=lt */
  padding-right: 22px; /* orientation=rt */
  white-space: nowrap;
  display: block;
  color: #000;
}


.UICalendarPortlet .CalendarWorkingWorkspace .LayoutSwitcherIcon {
  padding-left: 0px; /* orientation=lt */
  padding-right: 0px; /* orientation=rt */
  width: 22px; 
  height: 24px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .SelectButton .IconHolder {
  margin: 4px 7px 0px 7px;
  line-height: 25px;
  display: block;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .DownArrow1Icon {
  padding-right: 14px; /* orientation=lt */
  padding-left: 14px; /* orientation=rt */
  cursor: pointer;
  white-space: nowrap;
}

/*========================= UIActionBar ======================================*/

.UICalendarPortlet .UIToolbar .HeaderToolbar .CenterBar{
	background: #f6f6f6;
	border: solid 1px #ebebeb;
}

.UICalendarPortlet .UIToolbar .HeaderToolbar .RightBar{
	background: none;
	padding-right: 0px;
}

.UICalendarPortlet .UIToolbar .HeaderToolbar .LeftBar{
	background: none;
	padding-left: 0px;
}