.UINotification  {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 250px;
}

.UINotification .LeftControlInfo {
  background: url('../background/Event.png') no-repeat left -18px;
  padding-left: 7px;
  width: 70px;
  float: right;
  margin-right: 5px;
}

.UINotification .RightControlInfo {
  background: url('../background/Event.png') right -44px no-repeat;
  padding-right: 7px;
}

.UINotification .CenterControlInfo {
  background: url('../background/Event.png') left -70px repeat-x;
  height: 24px;
  padding: 2px 0px 0px 8px;
}

.UINotification .ControlInfoLabel {
  background:url('../background/Event.png') top left no-repeat;
  padding: 0px 0px 0px 25px;
  height: 18px;
  line-height: auto;
  color: red;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  text-decoration:none;
}

.UINotification .ControlInfoLabel:hover {
  color: black;
}


.UINotification .UIPopupNotification .TLPopupNotification {
  background: url('../background/Popup.gif') no-repeat left top;
  padding-left:4px;
}

.UINotification .UIPopupNotification .TCPopupNotification {
  height:13px;
  background: url('../background/Popup.gif') repeat-x left -13px;
}

.UINotification .UIPopupNotification .TRPopupNotification {
  background: url('../background/PopupTR.png') no-repeat right top;
  padding-right: 45px;
}

.UINotification .UIPopupNotification .TitleNotification {
  background: url('../background/Popup.gif') repeat-x left -50px ;
  height: 16px;
  padding-left:10px;
}

.UINotification .UIPopupNotification .MLPopupNotification {
  background: url('../background/PopupML.gif') repeat-y left;
  padding-left: 2px;
}

.UINotification .UIPopupNotification .MCPopupNotification {
  background: #feffcf;
}

.UINotification .UIPopupNotification .MRPopupNotification {
  background: url('../background/PopupMR.gif') repeat-y right;
  padding-right: 2px;
}

.UINotification .UIPopupNotification .BLPopupNotification {
  background: url('../background/Popup.gif') no-repeat left -26px;
  padding-left: 4px;
}

.UINotification .UIPopupNotification .BCPopupNotification {
  height: 4px;
  background: url('../background/Popup.gif') repeat-x left -30px;
}

.UINotification .UIPopupNotification .BRPopupNotification {
  background: url('../background/Popup.gif') no-repeat right -26px;
  padding-right: 4px;
}

.UINotification .UIPopupNotification .ItemTitle {
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.UINotification .UIPopupNotification .Close {
  background: url('../background/Popup.gif') left -66px no-repeat;
  display: block;
  height: 7px;
  width: 7px;
  float: right;
  margin: 3px 5px;
  cursor: pointer;
}

.UINotification .UIPopupNotification .Item {
  display: block;
  margin: 0px 5px;
  border-bottom: 1px dotted #b7b7b7;
  padding: 5px 0px 0px 11px;
  line-height: 22px;
  color: red;
  background: url('../background/Popup.gif') no-repeat 3px -74px;
}

.UINotification .UIPopupNotification .Item:hover {
  color: black;
}