@import url("skinIcons/Stylesheet.css") ;
@import url("UICombobox/Stylesheet.css");
@import url("UIEmailInput/Stylesheet.css");

@import url("UIPopup/Stylesheet.css");
@import url("UIActionBar/Stylesheet.css");
@import url("UIHeaderBar/Stylesheet.css");
@import url("UICalendarView/Stylesheet.css");
@import url("UISearchForm/Stylesheet.css");
@import url("UIMiniCalendar/Stylesheet.css");
@import url("UICalendars/Stylesheet.css");
@import url("UINotification/Stylesheet.css");

@import url("UIPopup/UIFeed/Stylesheet.css") ;
@import url("UIPopup/UIAddressForm/Stylesheet.css");
@import url("UIPopup/UIEventForm/Stylesheet.css");
@import url("UIPopup/UISelectUserForm/Stylesheet.css");
@import url("UIPopup/UIRemoteCalendar/Stylesheet.css");
@import url("UIPopup/UIRepeatEventForm/Stylesheet.css");

/*=========================== MailBanner ==================================*/

.UIWindow .UICalendarPortlet {
  margin: 0px;
  border: none;
  min-width: 900px;
}

.UICalendarPortlet {
  background: white;
  color: #292929;
}

.UIEmpty {
  margin: 0px;
  min-width: 1px;
}

.UIWindow .UIEmpty {
  margin: 0px;
  min-width: 1px;
}


.UIPageDesktop .FixWidth {
  _width: 940px;
}

/*==============================Calendar Working Container================================*/
.UICalendarPortlet .CalendarWorkingWorkspace {
  padding: 10px 5px;
}


/*==================Calendar Working Container===================*/

.UICalendarPortlet .TitleBar .UIPopupCategory {
  left: 21px;
  position:absolute;
  top: 19px;
  width: auto;
}

.UICalendarPortlet .TitleBar .UIRightClickPopupMenu {
  width:160px;
}

.UICalendarPortlet .UICalendarWorkingContainer {
  margin-top: 4px;
  height: 500px;
}

.UICalendarPortlet .UICalendarWorkingContainer .SeparatorLine {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 0px;
  background: none; /* orientation=lt */
  background: none; /* orientation=rt */  
  height: 18px; 
  width: 0px;
}

.UICalendarPortlet .UICalendarContainer {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 225px;
  height: 100%;
  position: relative;
}
 
/*==========================================*/


.UICalendarPortlet .TitleBar {
  height: 33px;
  line-height: 33px ;
  font-weight: bold ;
  border-left: none; /* orientation=lt */
  border-right: none; /* orientation=rt */
  border-right: none; /* orientation=lt */
  border-left: none; /* orientation=rt */
}

.UICalendarPortlet .UIWeekView .TitleBar, .UICalendarPortlet .UIDayView .TitleBar, .UICalendarPortlet .UIMonthView .TitleBar, .UICalendarPortlet .UIYearView .TitleBar{
  border:none;
  padding-top: 0px;
}

.UICalendarPortlet .UIListContainer .TitleBar{
  border:none;
  padding-top: 0px;
}

.UICalendarPortlet .UIListContainer .TitleBar .Title a{
	color: #464646;
}

.UICalendarPortlet .CurrentTitleBar {
  background: url('background/CalendarBackground.gif') repeat-x center -27px;  
  height: 23px;
  line-height: 23px ;
  text-align: center ;
  font-weight: bold ;
  color: #0b18c8;
}

.UICalendarPortlet .ResizeReadingPane {
  background: url('background/CalendarBackground.gif') repeat-x center -75px;
  width: 40px; height: 4px;
  cursor: n-resize;
  margin: 3px auto;
}

.UICalendarPortlet .UIForm .HorizontalLayout .setting input.checkbox {
  margin:4px 0px 0px 0px;
  _margin: 2px 0px 0px 0px;
}
/*=====================Table Color===========================*/
.UIContextMenuContainer .CalendarTableColor {
  padding: 10px;
}

.UIContextMenuContainer .CalendarTableColor .ColorCell {
 width: 12px; 
 height: 12px;
 margin: 2px;
 border: 1px solid #ffffff;
}

.UIContextMenuContainer .CalendarTableColor .ColorCell img {
 width: 14px; height: 12px;
}

.UIContextMenuContainer .CalendarTableColor .SelectedColorCell {
  background: url('skinIcons/icons/CalendarIcons.gif') no-repeat -5px -342px;
  width: 12px; 
  height: 12px;
}

.UIContextMenuContainer .CalendarTableColor a:hover {
  border: 1px solid red;
  margin: 2px;
}

/* Popup Menu Positioning*/
.UIActionBar .SelectButton .UIPopupCategory {
  left: 7px ;
}

.UICalendarPortlet .UIActionBar .LeftActionBar {
  margin-right: 230px ;
}

.UICalendarPortlet .UIActionBar .CalendarActionBar  {
  width:100%;
}

.selection {
  background-color: rgb(204, 204, 204);
  position: absolute ;
  opacity: 0.66 ;
  width: 100% ;
}

/* Colors*/
.Olive {background-color: #808000; }
.OliveDrab {background-color: #6B8E23;}   
.Orange {background-color: #FFA500;}    
.OrangeRed {background-color: #FF4500;}    
.Orchid {background-color: #DA70D6;}    
.PaleGoldenRod {background-color: #EEE8AA;}    
.PaleGreen {background-color: #98FB98;}    
.PaleTurquoise {background-color: #AFEEEE;}    
.PaleVioletRed {background-color: #D87093;}    
.PapayaWhip  {background-color: #FFEFD5;}    
.PeachPuff {background-color: #FFDAB9;}    
.Peru {background-color: #CD853F;}    
.Pink {background-color: #FFC0CB ;}   
.Plum {background-color: #DDA0DD ;}   
.PowderBlue {background-color: #B0E0E6;}    
.Purple {background-color: #800080;}    
.Red {background-color: #FF0000;}    
.RosyBrown {background-color: #BC8F8F;}    
.RoyalBlue {background-color: #4169E1;}    
.SaddleBrown {background-color: #8B4513;}    
.Salmon {background-color: #FA8072;}    
.SandyBrown {background-color: #F4A460;}    
.SeaGreen {background-color: #2E8B57;}    
.SeaShell {background-color: #FFF5EE;}    
.Sienna {background-color: #A0522D;}    
.Silver {background-color: #C0C0C0;}    
.SkyBlue {background-color: #87CEEB;}
.Thistle {background-color: #D8BFD8;}    
.Tomato {background-color: #FF6347;}    
.Turquoise {background-color: #40E0D0;}    
.Violet {background-color: #EE82EE;}    
.Wheat {background-color: #F5DEB3;}    
.Yellow {background-color: #FFFF00;}    

.EventTitle {
  background-color:#000000 ;
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  opacity:0.3;
}

.EventTitle p {
  font-weight:bold;
  color:white;
  padding-left: 2px ;
  margin: 0px ;
  white-space:nowrap ;
  font-size: 10px;
  line-height: 17px;
}

.UserSelectionBlock {
  background: #cccccc ;
  position: absolute ;
  opacity: 0.5 ;
  filter:alpha(opacity=50) ;
  -moz-user-select : none ;
}

.UICalendarPortlet .SelectFileFrame {
  width: 300px;
}

.UICalendarPortlet .SelectMemberIcon {
  width: 20px ; 
  height: 16px;
}

.UICalendarPortlet .SelectUserIcon {
  width: 20px ; 
  height: 16px;
}

.UICalendarPortlet .SelectGroupIcon {
  width: 20px ; 
  height: 16px;
}

.UICalendarPortlet .UISharedForm .UIFormGrid {
  width: 100%;
  margin: 0px;
}


.UICalendarPortlet .UIGrid {
	border-collapse: collapse;
	table-layout: fixed;
}

.UICalendarPortlet .UIForm .UIFormGrid td.FieldComponent {
  white-space: nowrap;
}

.UICalendarPortlet .UIForm .UIFormGrid td.FieldComponent span.confirm {
  white-space: normal;
}

.UICalendarPortlet .UIAttachFileForm .UIForm .UIFormGrid td.FieldComponent {
  white-space: normal;
}

.UICalendarPortlet .UIForm#UICalendarForm .HorizontalLayout input {
  width: 200px;
}

.UICalendarPortlet .UIForm#UICalendarForm .HorizontalLayout input.checkbox {
  width: auto;
}

.UICalendarPortlet .UIAttachFileForm .SelectFileFrame {
  width: 350px;
}

.UICalendarPortlet .UIAttachFileForm .SelectFileFrame {
  width: 350px;
}

.UICalendarPortlet .UIForm .UIGrid .ViewDescription {
  height: auto;
  overflow: hidden;
  width: 80%;
  margin: 0px;
  font-family: Tahoma,Verdana,Arial;
}

.UICalendarPortlet .BlueCircleMinus { 
  height: 16px;
  width: 16px;
}

.UICalendarPortlet .busyIcon {
  padding-left: 16px; /* orientation=lt */
  padding-right: 16px; /* orientation=rt */
  height: 17px;
}

.UICalendarPortlet .outsideIcon {
   padding-left:20px; /* orientation=lt */
    padding-right:20px; /* orientation=rt */
   height: 16px;
}

.UICalendarPortlet .UICalendarViewContainer {
  -khtml-user-select:none;
  background: #fff;
}

.UICalendarPortlet .UIHightlightEvent {
  border:solid 1px red;
}

.UICalendarPortlet .ICalIcon{
}

.UICalendarPortlet .FeedLink{
}

.UICalendarPortlet .RemoveBtn {
  
}


/* For SearchIcon of UIUserSelector */

.UIUserSelector .UIAddressSearchForm .SearchIcon 
{
  float:left;
  height:20px;
  margin:3px 4px;
  width:24px;
}

/* UI-1552 */

.UIToolbar .HeaderToolbar{
	height: 40px;
}

.UICalendarViewContainer .UIGrid .OddRow{
	background: #fff;
}
.UICalendarViewContainer .UIGrid .EvenRow{
	background: #fff;
}

.UICalendarPortlet .UIWindowContent .PopupContent .UIGrid th{
	border-left: none;
}