.UICalendarPortlet .UIFeed {
  margin: 10px;
  border: 1px solid #c7c7c7;
}

.UICalendarPortlet .UIFeed .FeedContent {
  border: 1px solid white;
  background: #f7f7f7;
  padding: 15px 30px;
}

.UICalendarPortlet .UIFeed .FeedContent a {
  display: block;
  color: black;
  font-weight: bold ;
}

.UICalendarPortlet .UIFeed .FeedLink {
  padding-left: 32px ;
}

.UICalendarPortlet .UIFeed .FeedContent a.Icon {
  padding-left: 32px;
  line-height: 20px;
}
