@import "variables.less";
@import "mixins.less";
@import "Sprites/Style.less";
@import "Dropdown/Style.less";
@import "Calendars/Style.less";

/*============== uiCalendars actionIcon ================*/

.actionIcon{
	margin: 0px;
	padding: 0 1px;
	line-height: @baseLineHeight - 6;
}