
@import url(DefaultSkin/portal/webui/component/UIPortalApplicationSkin.css);
@import url(webui/component/UIBannerPortlet/DefaultStylesheet.css);
@import url(DefaultSkin/portal/webui/component/control/UIWorkspace/Stylesheet.css);
@import url(DefaultSkin/portal/webui/component/view/UIToolbarContainer/Stylesheet.css);


@font-face {
  font-family: Hattori;
  src: url("/csdemo/templates/skin/fonts/HATTORHL.eot");
}

@font-face {
  font-family: Hattori;
  src: url("/csdemo/templates/skin/fonts/HATTORHL.TTF");
}

@font-face {
  font-family: Lucida;
  src: url("/csdemo/templates/skin/fonts/Lucida_Sans_Regular.eot");
}

@font-face {
  font-family: Lucida;
  src: url("/csdemo/templates/skin/fonts/Lucida_Sans_Regular.ttf");
  font-weight:normal;
}

*, div, table, th, tr, td, img, form ,p, h1, h2, h3, h4, h5, h6 {
  margin:0;
  outline:medium none;
  padding:0;
  font-family:Lucida,Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size:12px;
}


a {
  color:#28175A;
  text-decoration:none;
}

img {
  border: none;
  vertical-align: middle;
}

ul {
  list-style: none;
}



/*Css one selector using for general css has same*/

.FL {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}

.FR {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
}


.TxtBlue {
  color: #0068FF;
}

.TxtOrg {
  color: #F58220;
}

.TextBold {
  font-weight: bold;
}
