.UICalendarPortlet .UIComboboxComponent{
  float:left;
}
.UICalendarPortlet .UIComboboxList {
  /*
position: absolute;
*/
}

.UICalendarPortlet .UIComboboxComponent .UIComboboxContainer {
  background: white ;
  position:absolute;
  display:none;
  border: solid 1px gray ;
}

.UICalendarPortlet .UIComboboxComponent .UIComboboxItemContainer {
  overflow-y: auto ;
  height: 150px ;
}

.UICalendarPortlet .UIComboboxComponent .UIComboboxItem {
  display: block ;
  padding: 3px 5px ;
  text-decoration: none ;
  color: black ;
  outline:none;
}

.UICalendarPortlet .UIComboboxComponent .UIComboboxItem:hover{
  background: blue ;
  color: white ;
}

.UICalendarPortlet .UIComboboxComponent .UIComboboxItem:visit{
  background: white ;
  color: black ;
}

.UICalendarPortlet .UIComboboxList .UIComboboxSelectedItem{
  background: blue ;
  color: white;
}

.UICalendarPortlet .UIComboboxComponent .UIComboboxLabel {
  font-family: tahoma ;
  font-size: 11px ;
  margin-left: 16px ;
}

.UICalendarPortlet .UIComboboxComponent iframe {
  position:absolute ;
  top : 0px ;
  left : 0px ;
  z-index : -1 ;
  height: 150px ;
}