.UIToolbarContainer {
  height:auto;
  background: #c0c0c0;  
}

.UIWorkingWorkspace .UIToolbarContainer  .ToolbarContainer {
    background:none repeat scroll 0 0 #343a50;
    border-left: 1px solid #343a50;
    border-right: 1px solid #343a50;
}

.UIToolbarContainer .ToolbarContainer .TRContainer{
  padding: 0px 40px 0 40px;
}

.UIWorkingWorkspace .UIToolbarContainer .ToolbarContainer a {
  color:#ffd400;
  font-size: 12px;
  font-weight: normal;  
}

.UIToolbarContainer .ToolbarContainer a:hover {
  color:#8f8f8f;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
  background: url(background/BorderList.gif) no-repeat left 10px; /* orientation=lt */
  background: url(background/BorderList.gif) no-repeat right 10px; /* orientation=rt */
  padding:0;
}

.UIToolbarContainer .UIAdminToolbarPortlet {
  width: auto!important;
  
}

.UIStarToolBarPortlet  .UIHorizontalTabs .UITab {
  background: none;  
}

.UIToolbarContainer .UIAdminToolbarPortlet .UIHorizontalTabs .UITab {
  background: url(background/BorderList.gif) no-repeat left 10px; /* orientation=lt */
  background: url(background/BorderList.gif) no-repeat right 10px; /* orientation=rt */
  width: auto!important;
}


.UIStarToolBarPortlet {
  background: url(background/Logo_mini.gif) no-repeat left 0px; /* orientation=lt */
  background: url(background/Logo_mini.gif) no-repeat right 0px; /* orientation=rt */
  height:30px;

}

.UIToolbarContainer .ToolbarContainer .TBIcon  {
  background: none;
  padding: 0 12px 0 12px;
}

.UIToolbarContainer .ToolbarContainer .SitesIcon  {
  background: url(background/ToolbarContainer.png) no-repeat right -30px; /* orientation=lt */
  background: url(background/ToolbarContainer.png) no-repeat left -30px; /* orientation=rt */
  padding:0 22px 0 12px;  /* orientation=lt */
  padding:0 12px 0 22px;  /* orientation=rt */
}

.UIToolbarContainer .ToolbarContainer .EditorIcon  {
  background: url(background/ToolbarContainer.png) no-repeat right -30px; /* orientation=lt */
  background: url(background/ToolbarContainer.png) no-repeat left -30px; /* orientation=rt */
  padding:0 22px 0 12px;  /* orientation=lt */
  padding:0 12px 0 22px;  /* orientation=rt */
}

.UIToolbarContainer .ToolbarContainer .GroupIcon  {
  background: url(background/ToolbarContainer.png) no-repeat right -30px; /* orientation=lt */
  background: url(background/ToolbarContainer.png) no-repeat left -30px; /* orientation=rt */
  padding:0 22px 0 12px;  /* orientation=lt */
  padding:0 12px 0 22px;  /* orientation=rt */
  margin:0px;
}


.UIToolbarContainer .Name a{
  background:none;
  margin:0;
  padding:0;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer {
  z-index: 100;
  min-width: 150px!important;
  border: none;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .TitleBar{
  background: #d7d7d7;
  opacity: 1;
}


.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem{  
  opacity: 1;
  border-top: 1px solid #414760;
  background-color:#30385C;  
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem a {
  color: #8f8f8f;
  font-weight: normal;
  padding:0 0 0 33px; /* orientation=lt */
  padding:0 33px 0 0; /* orientation=rt */
}

.UIWorkingWorkspace .UIToolbarContainer .MenuItem .DefaultPageIcon  {
  background: url(background/ToolbarContainer.png) no-repeat 5px -634px; /* orientation=lt */
  background: url(background/ToolbarContainer.png) no-repeat 96% -634px; /* orientation=rt */
}

.UIWorkingWorkspace .UIToolbarContainer .EditPageIcon {
  background: url(background/ToolbarContainer.png) no-repeat 5px -453px; /* orientation=lt */
  background: url(background/ToolbarContainer.png) no-repeat 96%  -453px; /* orientation=rt */
}


.UIWorkingWorkspace .UIToolbarContainer .MenuItem .ArrowIcon  {
  background: url(background/ToolbarContainer.png) no-repeat right -664px; /* orientation=lt */
  background: url(background/ToolbarContainer-rt.png) no-repeat left -664px; /* orientation=rt */
  
}

.UIWorkingWorkspace .UIToolbarContainer .AddPageIcon  {
  background-position: 5px -225px;/* orientation=lt */
  background-position: right -225px;/* orientation=rt */
}

.UIToolbarContainer .EditSiteIcon {
  background: url(background/ToolbarContainer.png) no-repeat 5px  -453px; /* orientation=lt */
  background: url(background/ToolbarContainer.png) no-repeat 96%  -453px; /* orientation=rt */
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem:hover {
  background-color: #20263F;
}


.UIToolbarContainer  .UITableColumnContainer .UIStarToolBarPortlet .TabsContainer{
  position: relative;
}

.UIToolbarContainer .ChangeLanguageIcon {
  background: url('background/ToolbarContainer.png') no-repeat 5px -573px; /* orientation=lt */
  background: url('background/ToolbarContainer-rt.png') no-repeat 96% -573px; /* orientation=rt */
}

.UIToolbarContainer .ChangeSkinIcon {
  background-position: 5px -228px ; /* orientation=lt */
  background-position: 98% -228px ; /* orientation=rt */
}

.UIToolbarContainer .SignOutIcon {
  background: url('background/ToolbarContainer.png') no-repeat 5px -603px; /* orientation=lt */
  background: url('background/ToolbarContainer-rt.png') no-repeat 96% -603px; /* orientation=rt */
}