

.UIFormColorPicker {

}



.UIFormColorPicker .UIColorPickerItem {

display: block ;

padding: 3px 5px ;

text-decoration: none ;

color: black ;

}



.UIFormColorPicker .UIColorPickerInput {

border: solid 1px gray;

width: 35px;

height: 18px;

*height: 18px;

line-height: 18px;

}



.UIFormColorPicker  .DisplayValue {

display:block;

margin: 1px;

height: 15px;

*height: 15px;

line-height: 15px;

border: solid 1px #cccccc;

}



.UIFormColorPicker  .UIColorLine {

margin: 5px 0px;

}



.UIFormColorPicker a:hover{

color: white;

}



.UIFormColorPicker a:visit{

color: black;

}



.UIFormColorPicker .UIColorPickerLabel {

font-family: tahoma;

font-size: 11px;

margin-left: 16px;

}

/* Colors */

.calendarTableColor .asparagus       { background-color: #909958; }
.calendarTableColor .munsell_blue    { background-color: #319AB3; }
.calendarTableColor .navy_blue       { background-color: #4273C8; }
.calendarTableColor .purple          { background-color: #774EA9; }
.calendarTableColor .red             { background-color: #FF5933; }
.calendarTableColor .brown           { background-color: #BB8E62; }

.calendarTableColor .laurel_green    { background-color: #BED67E; }
.calendarTableColor .sky_blue        { background-color: #4DBED9; }
.calendarTableColor .blue_gray       { background-color: #8EB0EA; }
.calendarTableColor .light_purple    { background-color: #BC99E7; }
.calendarTableColor .hot_pink        { background-color: #F97575; }
.calendarTableColor .light_brown     { background-color: #C5B294; }

.calendarTableColor .moss_green      { background-color: #98CC81; }
.calendarTableColor .powder_blue     { background-color: #9EE4F5; }
.calendarTableColor .light_blue      { background-color: #B3CFFF; }
.calendarTableColor .pink            { background-color: #FFC8F0; }
.calendarTableColor .orange          { background-color: #FDB519; }
.calendarTableColor .gray            { background-color: #A39594; }

.calendarTableColor .green           { background-color: #89D4B3; }
.calendarTableColor .baby_blue       { background-color: #B2E2FF; }
.calendarTableColor .light_gray      { background-color: #CDCDCD; }
.calendarTableColor .beige           { background-color: #FFE1BE; }
.calendarTableColor .yellow          { background-color: #FFE347; }
.calendarTableColor .plum            { background-color: #CEA6AC; }
