
/********************* UIAttachFileForm ***************************/
.UICalendarPortlet .UIAttachFileForm {
  background: #f3f3f3;
  padding: 0px;
}

.UICalendarPortlet .UIAttachFileForm .HorizontalLayout {
  border: none;
}

/********************* UICalendarCategoryManager ***************************/
.UICalendarPortlet .UICalendarCategoryManager {
  padding: 10px;
  min-width: 400px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.UICalendarPortlet .UICalendarCategoryManager .UICalendarCategoryForm {
  margin-top: 10px;
}

.UICalendarPortlet .UIPopupWindow .UIImportForm .UIFormUploadInput .UploadIframe iframe{
  width: auto;
}

.UICalendarPortlet .UICalendarCategoryManager .UIGrid th{
	border-right: solid 1px #fff;
	border-top: solid 1px #fff;
}

/********************* UIEventCategoryManager ***************************/

.UICalendarPortlet .UIEventCategoryManager .UIEventCategoryForm {
  margin-top: 10px;
}

/********************* UIExportForm ***************************/

.UICalendarPortlet .UIExportForm .HorizontalLayout {
  border: none;
}

/*===================UIForm=======================*/

.UICalendarPortlet .UIEventCategoryManager {
  padding: 8px;
  min-width: 400px;
}

.UICalendarPortlet .UIEventCategoryManager .UIGrid .ActionContainer {
  width: 60px;
}

.UICalendarPortlet .SelectMemberIcon {
  width: 16px ; height: 16px;
}

.UICalendarPortlet .SelectUserIcon {
  width: 16px ; height: 16px;
}
.UICalendarPortlet .SelectGroupIcon {
  width: 16px ; height: 16px;
}
/********************************** UICalendarSettingForm ***************************************/
.UICalendarPortlet .setting{
}
.UICalendarPortlet .setting .WorkingTime{
 float: left;/* orientation=lt */
 float: right;/* orientation=rt */
}
.UICalendarPortlet .setting .WorkingTime .selectbox{
 width: 70px;
}
.UICalendarPortlet .setting .WorkingTimeCheck {
 float:left;/* orientation=lt */
 float: right;/* orientation=rt */
}

.UICalendarPortlet .defaultCalendarTab td.FieldLabel {
  text-align:left;/* orientation=lt */
  text-align:right;/* orientation=rt */
}
.UICalendarPortlet .defaultCalendarTab td.FieldComponent {
  text-align:left;/* orientation=rt */
  text-align:right;/* orientation=lt */
}
/********************************** UISelectUserForm ***************************************/
.UISelectUserForm {
  padding: 10px;
}

.UICalendarPortlet .UIImportForm {
  padding: 10px;
  min-width: 400px;
}

.UICalendarPortlet .UIImportForm .HorizontalLayout {
  padding: 10px;
  background: #f3f3f3;
}

.UICalendarPortlet .UIQuickAddEvent {
  min-width: 400px;
	background: #EBEBEB;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.UICalendarPortlet .UIPopupAddEventContainer{
	background: #EBEBEB;
}

.UICalendarPortlet .UIPopupAddTaskContainer{
	background: #EBEBEB;
}

.UICalendarPortlet .UIPopupAddCalendarContainer{
	background: #EBEBEB;
}

.UICalendarPortlet .UIPopupCalendarSettingContainer{
	background: #EBEBEB;
}
/********************************** UIAddEditPermission *****************************************/
.UICalendarPortlet .UIAddEditPermission .UIGrid th{
	border-right: solid 1px #fff;
	border-top: solid 1px #fff;
}

.UICalendarPortlet .UIAddEditPermission .UIGrid{
	margin-bottom: 2px;
}
