/********************* UICalendarPermissionTab ***************************/
a .ActionIcon {
	margin-left: 4px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

i .IconDelete {
  background: url("/calendar/skin/DefaultSkin/webui/background/DeleteTemplateIcon.gif") no-repeat;
  height: 22px;
  width: 22px;
}

/*=========================== UICalendarForm ==================================*/
.IconUser {
  background: url('/calendar/skin/DefaultSkin/webui/background/Worker.gif') no-repeat;
  height: 22px;
  width: 22px;
  margin: 2px;
}

.IconMembership {
  background: url('/calendar/skin/DefaultSkin/webui/background/MembershipSelector.gif') no-repeat;
  height: 22px;
  width: 22px;
  margin: 2px;
}

.IconGroup {
  background: url('/calendar/skin/DefaultSkin/webui/background/SmallGroup.gif') no-repeat;
  height: 22px;
  width: 22px;
  margin: 2px;
}

input#PermissionOwner {
  display: inline-block;
  margin-top: 10px;
}

.UIActionBorder {
  display: inline-block;
}

