
.UICalendarPortlet .UIHeaderBar{
  border-top:1px solid #C7C7C7;
}

.UICalendarPortlet .UIHeaderBar .AddCategoryIcon {
  background-position: left -27px;
}

.UICalendarPortlet .UIHeaderBar .ViewTypeSelect .UIPopupCategory {
  left: 100px;
  position:absolute;
  top: 15px;
  width: auto;
}

